<!DOCTYPE html>
<html lang="en"
	layout:decorator="layouts/main">
<head>
	<title>CollectiveOne - Login</title>
</head>
<body>
		
	<div layout:fragment="content_pane">
		
		<form name="f" id="login_form" th:action="@{/user/forgotPasswordSubmit}" method="post" class="form-signin">
		    <h2 class="form-forgot-pswd-heading">Forgot Password</h2>
		    <label for="email" class="sr-only">Email</label>
		    <input type="text" id="email" name="email" class="form-control" placeholder="Email" required="true" />
		    <br />
		    <button class="btn btn-lg btn-primary btn-block" type="submit">Send recovery link</button>
		</form>
		
	</div>
		
</body>
</html>