<!DOCTYPE html>
<html lang="en"
	layout:decorator="layouts/main">
<head>
	<title>CollectiveOne - Login</title>
</head>
<body>
		
	<div layout:fragment="content_pane">
		
		<form name="f" id="login_form" th:action="@{/user/savePassword}" method="post" class="form-signin"  th:object="${passwordDto}">
		    <h2>Update Password</h2>
		    <div class="form-group">
				<label for="pwd">New Password:</label>
				<input type="password" class="form-control" th:field="*{newPassword}"></input>
			</div>
			<div class="form-group">
				<label for="pwd">Confirm New Password:</label>
				<input type="password" class="form-control" th:field="*{newPasswordConfirm}"></input>
			</div>
			<br /> 
			<button type="submit" class="btn btn-lg btn-primary btn-block">Update password</button>
		</form>
		
	</div>
		
</body>
</html>