<!DOCTYPE html>
<html lang="en"
	layout:decorator="layouts/main">
<head>
	<title>CollectiveOne - Login</title>
</head>
<body>
		
	<div layout:fragment="content_pane">
		
		<form name="f" id="login_form" th:action="@{/user/savePassword}" method="post" class="form-signin"  th:object="${passwordDto}">
		    <h2>Update Password</h2>
		    <div th:class="form-group" th:classappend="${#fields.hasErrors('newPassword')}? 'has-error'">
				<label for="pwd">New Password:</label>
				<input type="password" class="form-control" th:field="*{newPassword}"></input>
				<span th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" th:class="help-block">Title Errors</span>
			</div>
			<div th:class="form-group" th:classappend="${#fields.hasErrors('newPasswordConfirm')}? 'has-error'">
				<label for="pwd">Confirm New Password:</label>
				<input type="password" class="form-control" th:field="*{newPasswordConfirm}"></input>
				<span th:if="${#fields.hasErrors('newPasswordConfirm')}" th:errors="*{newPasswordConfirm}" th:class="help-block">Title Errors</span>
			</div>
			<br /> 
			<button type="submit" class="btn btn-lg btn-primary btn-block">Update password</button>
		</form>
		
	</div>
		
</body>
</html>