#bidBox_div {
	width: 360px;
	clear:none;
	border-radius:5px;
	border-style:solid;
	border-width:2px;
	border-color: #cccccc;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom: 10px;
	overflow: auto;
}

#bidBox_div #bid_user_div {
	height:50px;
	width:100%;
	float:left;
	clear:both;
}

#bidBox_div #bid_div {
	height: 70px;
	width:100%;
	margin-top: 15px;
	margin-bottom: 10px;
	float:left;
	clear:both;
}

#bidBox_div #bid_decision_div {
	width:100%;
	float:left;
	clear:both;
}

#bidBox_div #show_reviews_btn {
	height: 15px;
	width: 100%;
	float:left;
	clear:both;
}

#bidBox_div #reviews_container {
	width:100%;
	float:left;
	clear:both;
	overflow: auto;
	margin-top: 5px;
}

#bidBox_div #show_reviews_btn p {
	font-size:12px;
}

#bidBox_div #show_reviews_btn #show_reviews_div {
	height: 100%;
	float:left;
	width: 100%;
}

#bidBox_div #show_reviews_btn #show_reviews_div p {
}

#bidBox_div #show_reviews_btn #new_btn_div {
	float: left;
	width: 50px;
	display:block;
	height: 100%;
}

#bidBox_div #new_btn_div p {
	
}

#bidBox_div #bid_div #left_div {
	height:100%;
	width: 85px;
	float:left;
}

#bidBox_div #bid_div #right_div {
	height:100%;
	width: calc(100% - 85px);
	float:left;
}

#bidBox_div #bid_div #left_div #bid_value_text {
	margin-top:0px;
	text-align:center;
	font-size:10px;
	font-style:italic;
}

#bidBox_div #bid_div #left_div #bid_value_num {
	text-align:center;
	font-size:16px;
	font-style:normal;
	font-weight:bold;
}

#bidBox_div #bid_div #left_div #bid_state {
	margin-top:0px;
	text-align:center;
	color:DarkGreen;
	font-size:14px;		
	font-style:normal;
}

#bidBox_div #bid_div #left_div #bid_state {
	margin-top:0px;
	text-align:center;
	color:DarkGreen;
	font-size:14px;		
	font-style:normal;
}

#bidBox_div #bid_div #left_div #bid_times_created_div {
	width:100%;
	height: 10px;
	overflow:auto;
	margin-left: 5px;
}

#bidBox_div #bid_div #left_div #bid_times_created_div p {
	margin-top:0px;
	font-size: 9px;
	display: inline;
}

#bidBox_div #bid_div #right_div #bid_description_div {
	width:100%;
	overflow-y: auto;
	height: calc(100% - 15px);
}

#bidBox_div #bid_div #right_div #bid_description_div p {
	margin-top:0px;
	font-size:10px;
}

#bidBox_div #bid_div #right_div #bid_delivered_div {
	width:100%;
	height: 12px;
	overflow:auto;
	margin-top: 6px;
	margin-left: 0px;
}

#bidBox_div #bid_div #right_div #bid_delivered_div p {
	margin-top:0px;
	font-size:10px;
	text-align:right;
}
