#bidBox_div {
	height:190px;
	width:210px;
	clear:none;
	border-radius:5px;
	border-style:solid;
	border-width:2px;
	border-color:#888844;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;	
	
}

#bidBox_div #bid_user_div {
	height:50px;
	width:100%;
	float:left;
	clear:both;
}

#bidBox_div #bid_div {
	height: 70px;
	width:100%;
	margin-top: 15px;
	margin-bottom: 10px;
	float:left;
	clear:both;
}

#bidBox_div #bid_decision_div {
	height:30px;
	width:100%;	
	float:left;
	clear:both;
}

#bidBox_div #bid_div #left_div {
	height:100%;
	width:75px;
	float:left;
	margin-top: 8px;
}

#bidBox_div #bid_div #right_div {
	height:100%;
	width:calc(100% - 75px);	
	float:left;
}

#bidBox_div #bid_div #left_div #bid_value_text {
	margin-top:0px;
	text-align:center;
	color:#888844;
	font-size:10px;		
	font-style:italic;
}

#bidBox_div #bid_div #left_div #bid_value_num {
	text-align:center;
	color:#888844;
	font-size:16px;		
	font-style:normal;
	font-weight:bold;
}

#bidBox_div #bid_div #left_div #bid_status {
	margin-top:0px;
	text-align:center;
	color:DarkGreen;
	font-size:14px;		
	font-style:normal;
}

#bidBox_div #bid_div #right_div #bid_description_div {
	width:100%;
	height: 70px;
	overflow:auto;
	margin-left: 5px;
}

#bidBox_div #bid_div #right_div #bid_description_div p {
	text-align:left;
	color:#888844;
	font-size:10px;		
	font-style:normal;
}
