#cbtion_div #cbtion_data_div  {
	width: calc(100%);
	clear:both;
	overflow: hidden;
	height: 190px;
}

#cbtion_div #cbtion_data_div #promotion_div {
	width:25px;
	height: 100px;
	float:left;
	margin-top: 0px;
	text-align: center;
	color:#cccccc;
}

#cbtion_div #cbtion_data_div #promotion_up_div {
	width:100%;
	height: calc(50% - 10px - 15px);
	padding-top:15px;
	cursor: pointer;
}

#cbtion_div #cbtion_data_div #promotion_down_div {
	width:100%;
	height:calc(50% - 10px - 15px);
	padding-top: 2px;
	cursor: pointer;
}

#cbtion_div #cbtion_data_div #promotion_center_div {
	width:100%;
	height:20px;
	font-size:14px;
	color:#545454;
}

#cbtion_div #cbtion_data_div #cb_left_div {
	width: calc(100% - 25px - 220px - 10px);
	height: calc(100% - 20px);
	float:left;
	margin-top: 0px;
	padding-right: 10px;
}

#cbtion_div #cbtion_data_div #cb_center_div {
	width:0px;
	height: calc(100% - 20px);
	float:left;
	margin-top: 0px;
}

#cbtion_div #cbtion_data_div #cb_right_div {
	width: 220px;
	height: calc(100% - 20px);
	float:left;
	margin-top: 0px;
}

#cbtion_div #cbtion_data_div #title_div {
	height:20px;
	width: 100%;
	float:left;
	margin-top: 5px;
	clear:both;
	overflow: hidden;
}

#cbtion_div #cbtion_data_div #title_div a {
	font-size: 12pt;
	cursor:pointer;
	white-space: nowrap;
}

#cbtion_div #cbtion_data_div #description_div {
	height: 90px;
	float:left;
	/* margin-top: 5px; */
	clear:both;
	overflow-y: auto;
}

#cbtion_div #cbtion_data_div #description_div p {
	font-size: 10pt;
	font-style: normal;
}

#cbtion_div #cbtion_data_div #product_div {
	height: 40px;
	width: 100%;
	float:left;
	/* margin-top: 5px; */
	clear:both;
	overflow-y: auto;
}

#cbtion_div #cbtion_data_div #product_div p {
	font-size: 10pt;
	font-style:italic;
	display: inline;
}


#cbtion_div #cbtion_data_div #cb_right_div {
}

#cbtion_div #cbtion_data_div #cb_right_div #cbtion_meta_data_div a {
	font-size: 10pt;
	cursor:pointer;
	overflow:hidden;
}

#cbtion_div #cbtion_data_div #cb_right_div #cbtion_meta_data_div p {
	font-size: 13px;
	font-style:normal;
	overflow:hidden;
	display:inline;
}

#cbtion_div #cbtion_data_div #creator_div {
	height: 30px;
	float:left;
	clear:both;
}

#cbtion_div #cbtion_data_div #state_div {
	height: 30px;
	float:left;
	clear:both;
	margin-top: 4px;
}

#cbtion_div #cbtion_data_div #status_desc_div {
	height: 35px;
	float:left;
	clear:both;
	margin-top: 3px;
}

#cbtion_div #cbtion_data_div #project_div {
	height: 15px;
	float:left;
	clear:both;
}


#cbtion_div #cbtion_data_div #new_bid_btn {
	clear:both;
	width: 100%;
	height: 20px;
}

#cbtion_div #cbtion_data_div #new_bid_btn p {
	padding-top:3.5px;
}

#cbtion_div #new_bid_form_container {
	display:none;
	width: calc(100% - 20px - 6px);
	height: 25px;
	clear:both;
	margin-bottom: 3px;
	margin-top: 10px;
}
 
#cbtion_div #new_bid_form_container #new_bid_form p {
	margin-top: 6px;
	margin-bottom: 0;
	margin-left: 0px;
	margin-right: 0;
	width:100%;
	text-align:center;
	font-size:14px;
}

#cbtion_div #new_bid_form_container #new_bid_form #newbid_username_div {
	width:150px;
	height:100%;
	float:left;
	border-radius:3px;
}

#cbtion_div #new_bid_form_container #new_bid_form #newbid_ppoints_div {
	width: 60px;
	height:100%;
	float:left;
	border-radius:3px;
}

#cbtion_div #new_bid_form_container #new_bid_form #newbid_description_div {
	width:200px;
	height:100%;
	float:left;
	border-radius:3px;
	margin-left: 15px;
}

#cbtion_div #new_bid_form_container #new_bid_form #newbid_ppoints_in {
	width:100%;
	height:100%;
	text-align:center;
	border-radius: 5px;
}

#cbtion_div #new_bid_form_container #new_bid_form #newbid_description_in {
	float:right;
	width:200px;
	max-width: 200px;
	max-height: 200px;
	resize: vertical;
	height:100%;
	border-radius:5px;
	padding-top:3px;
	padding-left: 6px;
}

#cbtion_div #new_bid_form_container #new_bid_form #newbid_delivery_date_div {
	width:100px;
	height:100%;
	text-align:center;
	border-radius: 5px;
	float: left;
	margin-left: 15px;
}

#cbtion_div #new_bid_form_container #new_bid_form #newbid_delivery_date_div input {
	width:100px;
	height:100%;
	text-align:center;
	border-radius: 5px;
}


#cbtion_div #new_bid_form_container #new_bid_form #newbid_submit_div {
	width:100px;
	height: 100%;
	margin-left: 20px;
	float:left;
	border-radius:3px;
	cursor:pointer;
	background-color: #cccccc;
}

#cbtion_div #new_bid_form_container #new_bid_form #newbid_submit_div p {
	font-size:12px;
}


#cbtion_div #bids_div {
	width: 100%;
	clear:both;
	margin-top: 10px;
	overflow: auto;
}

#cbtion_div #bids_div .bid_div {
	clear:none;
	float: left;
	margin-bottom: 10px;
}

#cbtion_div #bids_div .bid_div_spacer {
	clear:none;
	float: left;
	width:10px;
	height: 1px;
}


