#goal_weight_div {
	width: calc(100%);
	clear:both;
}

#goal_weight_div #left_div {
	width: 220px;
	margin-bottom: 10px;
	float: left;
	margin-left: 20px;
	display: none;
}

#goal_weight_div #left_div #metadata_div {
	font-size: 12px;
	margin-bottom: 10px;
}

#goal_weight_div #left_div #manual_set {
	margin-top:10px;
}

#goal_weight_div #left_div #manual_set input {
	width: 100px;
	float: left;
}

#goal_weight_div #left_div #manual_set #set_btn {
	width: 50px;
	float: left;
	margin-left: 5px;
}

#goal_weight_div #right_div {
	width: 300px;
	float: left;
}

#goal_weight_div #weights_chart_div {
	width: 100%;
	max-width: 300px;
}


