#goal_div {
	min-height: 90px;
	width: calc(100% - 20px - 6px);
	clear:none;
	overflow: auto;
}

#goal_div #top_div {
	width:100%;
	float:left;
}

#goal_div #center_div {
	min-height: 20px;
	max-height: 70px;
	width:100%;
	float:left;
	margin-bottom: 10px;
}

#goal_div #bottom_div {
	width:100%;
	float:left;
}

#goal_div #top_div #goaltag {
	width:100%;
	margin-top: 6px;
}

#goal_div #top_div #goaltag a {
	margin-left:5px;
	font-weight:bold;
	text-align:left;
	font-size:10px;
	font-style:normal;
	font-size: 12pt;
}

#goal_div #center_div #description {
	width:100%;
	margin-top: 6px;
}

#goal_div #center_div #description p {
	margin-left:5px;
	text-align:left;
	font-size: 10pt;
	font-style:normal;
}

#goal_div #bottom_div #state {
	height:100%;
	width:100%;	
}

#goal_div #bottom_div #state p {
	margin-left:5px;
	text-align:left;
	color:red;
	font-size:10px;		
	font-style:normal;
}

#goal_div #show_subgoals_btn {
	height: 15px;
	width: 220px;
	float:left;
	margin-left: 0px;
	display: none;
	margin-top: 10px;
}

#goal_div #subgoals_div {
	width:100%;
	float:left;
	margin-left: 0px;
	display: none;
}

#goal_div .subgoal_container {
	width: calc(100% - 6px);
	float:left;
	margin-left: 0px;
	margin-top: 10px;
}

