#goal_div {
	height: 120px;
	width: 221px;
	clear:none;
	border-radius:5px;
	border-style:solid;
	border-width:2px;
	border-color: #cccccc;
}

#goal_div #top_div {
	height:20px;
	width:100%;	
	float:left;
}

#goal_div #center_div {
	height: 60px;
	width:100%;
	float:left;
}

#goal_div #bottom_div {
	height:30px;
	width:100%;	
	float:left;
	margin-left:7px;
}

#goal_div #top_div #goaltag {
	height:100%;
	width:100%;
	margin-top: 6px;
}

#goal_div #top_div #goaltag p {
	margin-left:5px;
	font-weight:bold;
	text-align:left;
	font-size:10px;
	font-style:normal;
}

#goal_div #center_div #description {
	height:100%;
	width:100%;
	margin-top: 6px;
}

#goal_div #center_div #description p {
	margin-left:5px;
	text-align:left;
	font-size:10px;
	font-style:normal;
}

#goal_div #bottom_div #state {
	height:100%;
	width:100%;	
}

#goal_div #bottom_div #state p {
	margin-left:5px;
	text-align:left;
	color:red;
	font-size:10px;		
	font-style:normal;
}



