<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	
	<script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
	
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
	<script	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<script th:src="@{/external/jquery.autocomplete.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/external/autocomplete.css}" />
	
	
	<script th:src="@{/common/collone-lib.js}"></script>
	<script th:src="@{/common/collone-lib-projectselector.js}"></script>
	<script th:src="@{/common/collone-lib-activeproject.js}"></script>
	<script th:src="@{/common/collone-lib.js}"></script>
	<script th:src="@{/common/collone-server-comm.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/common/collone-css.css}" />
	
	<link rel="icon" type="image/ico" th:href="@{/images/favicon.ico}" />
	
	<script th:inline="javascript">
	/*<![CDATA[*/
		GLOBAL = new Object();
		
		GLOBAL.serverComm = new ServerComm();	
		GLOBAL.sessionData = {};
		
		/* prepare session data */
		GLOBAL.sessionData.userLogged = /*[[${#authentication.name}]]*/;
		
	/*]]>*/
	</script>
</head>

<body>
	<div id="container">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#myNavbar">
						<span class="icon-bar"></span> 
						<span class="icon-bar"></span> 
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" th:href="@{/}"><img id="logo"
						th:src="@{/images/Logo-White.png}"></img></a>
				</div>
				
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li class="dropdown"><a class="dropdown-toggle"
							data-toggle="dropdown" href="#">projects <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a th:href="@{/views/projectPageR/CollectiveOne}">CollectiveOne</a></li>
								<li><a th:href="@{/views/projectPageR/JieMaps}">JieMaps</a></li>
								<li><a th:href="@{/views/projectPageR/datasketch}">datasketch</a></li>
							</ul>
						</li>
						<li><a th:href="@{/views/cbtionListPageR}">contributions</a></li>
						<li><a th:href="@{/views/decisionListPageR}">decisions</a></li>
						<li><a th:href="@{/views/activityListPageR}">recent activity</a></li>
						<li class="dropdown"><a class="dropdown-toggle"
							data-toggle="dropdown" href="#">new <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a th:href="@{/views/cbtionNewPageR}">Contribution</a></li>
								<li><a th:href="@{/views/goalNewPageR}">Goal</a></li>
								<li><a th:href="@{/views/decisionNewPageR}">Decision</a></li>
							</ul>
						</li>
					</ul>
					<div class="navbar-text navbar-right cp_navbar-right">
						<div sec:authorize="isAuthenticated()">
							Welcome <span sec:authentication="name">Guest</span> |
							<form sec:authorize="isAuthenticated()" id="frmlogout"
								th:action="@{/logout}" method="post" class="form-inline">
								<a href="javascript:{}"
									onclick="document.getElementById('frmlogout').submit(); return false;">logout</a>
							</form>
						</div>
						<div sec:authorize="!isAuthenticated()">
							<!-- Using this form approach redirects to login?error   
							<form sec:authorize="!isAuthenticated()" id="frmlogin" th:action="@{/login}" method="post" class="form-inline">
					    		<a href="javascript:{}" onclick="document.getElementById('frmlogin').submit(); return false;">login</a>
					    	</form>
					    	-->
							<a th:href="@{/login}">login</a> or
							<form sec:authorize="!isAuthenticated()" id="frmsignup"
								th:action="@{/user/signup}" method="post" class="form-inline">
								<a href="javascript:{}"
									onclick="document.getElementById('frmsignup').submit(); return false;">signup</a>
							</form>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<div id="behind_nav"></div>
		<div id="active_projects">
			<div id="active_projects_list"></div>
		</div>
		<div layout:fragment="content_pane" id="content_pane"></div>

		<div id="bottom">
			<div id="license_div">
				<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/" target='_blank'>
					<img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/3.0/88x31.png" />
				</a> <br />
				This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/" target='_blank'>Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License</a>.
			</div>
		</div>

	</div>
</body>

</html>