.drop-shadow-br {
  box-shadow: 2px 2px 4px rgba(0,0,0,0.16), 2px 3px 3px rgba(0,0,0,0.12);
}

.fa-button {
  color: #313942;
  cursor: pointer;
  transition: all 300ms ease;
}

.fa-button-selected {
  color: #15a5cc;
  cursor: pointer;
}

.fa-button:hover {
  background-color: #ced4d9;
}

.fa-button-dark {
  transition: all 300ms ease;
  color: white;
}

.fa-button-dark:hover {
  background-color: #637484;
}

.app-button {
  background-color: #15a5cc !important;
  color: white;
  border-radius: 12px;
}

.app-button-color {
  color: #15a5cc !important;
}

.app-button-light {
  background-color: #f1f1f1 !important;
  color: black;
  border-radius: 12px;
}

.app-button-danger {
  background-color: #bc1c34 !important;
  color: white;
  border-radius: 12px;
}

.danger-btn {
  background-color: #cc0000;
  color: white;
}

.danger-btn:hover {
  background-color: #810000 !important;
  color: white !important;
}

.black-text {
  color: black;
}

.success-panel {
  color: white;
  background-color:  #40a36d !important;
}

.warning-panel {
  color: white;
  background-color:  #c29d00 !important;
}

.error-row {
  margin-top: 10px;
  width: 100%;
}

.error-panel {
  color: black;
  background-color: #f1cdcd;
  margin-bottom: 6px;
}

.error-text {
  color: rgb(255, 64, 64);
}

.error-input {
  outline: none;
  border-color: #f1cdcd !important;
  box-shadow: 0 0 10px red;
}

.inline-block {
  display: inline-block;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #eff3f6;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #637484;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #6f8294;
}

.flex-vert {
  display: flex !important;
  justify-content: center !important;
  flex-direction: column !important;
}

.slider-container {
  overflow: hidden;
}

.cursor-pointer {
  cursor: pointer !important;
}

.section-header {
  text-align: left;
  margin-left: 16px;
}

.model-action-button {
  background-color: rgba(239, 243, 246, 0.65) !important;
}

.app-margin-left {
  margin-left: 10px;
}

.app-margin-right {
  margin-right: 10px;
}

.app-margin-bottom {
  margin-bottom: 10px;
}

.loader-gif-container {
  padding-top: 100px;
  padding-bottom: 50px;
}

.loader-gif {
  width: 100px;
}

.loader-gif-container-small {
  padding-top: 16px;
  padding-bottom: 16px;
}

.loader-gif-small {
  width: 36px;
}

.plus-button {
  margin-right: 25px;
  margin-top: 15px;
  z-index: 1;
}

.tags-containers {
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 5px;
}

.sending-accept {
  padding: 4px 12px;
  border-radius: 12px;
}

.sending-accept img {
  width: 30px;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.overflow-y-auto {
  overflow-y: auto;
}

.wrap-long {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}
