.white-bg {
  background-color: white;
}

.dark-gray {
  background-color: #313942;
  color: white;
}

.dark-gray-color {
  color: #313942;
}

.dark-gray-selected {
  background-color: #3e464e;
  color: white;
}

.gray-1 {
  background-color: #637484;
  color: white;
}

.gray-1-color {
  color: #637484;
}

.gray-1-border {
  border-color: #637484 !important;
}

.gray-2 {
  background-color: #6f8294;
}

.gray-2-color {
  color: #6f8294;
}

.light-grey {
  background-color: #eff3f6;
  color: black;
}

.light-grey-d1 {
  background-color: #dbdee0;
  color: black;
}

.light-grey-color {
  color: #eff3f6;
}

.white-text {
  color: white;
}

.border-blue {
  border-color: #15a5cc !important;
}

.button-blue {
  background-color: #15a5cc !important;
  color: white;
}

.blue-color {
  color: #15a5cc !important;
}

.app-blue {
  background-color: #95bad6 !important;
  color: #313942;
}

.open-color {
  background-color: #32a11b;
}

.on-hold-color {
  background-color: #1b6da1;
}

.done-color {
  background-color: #b8b8b8;
}

.revert-color {
  background-color: #ff4b4b;
}

.success-background {
  background-color:  #40a36d !important;
  color: white;
}

.success-color {
  color: #40a36d !important;
}
