.CodeMirror, .CodeMirror-scroll {
	min-height: 30px;
  resize: vertical;
}

.CodeMirror a {
  text-decoration: underline !important;
}

.marked-text a {
  text-decoration: underline !important;
}

.marked-text p {
  margin-top: 3px;
  margin-bottom: 3px;
}
