[tooltip]:before {
    position: absolute;
    content : attr(tooltip);
    visibility: hidden;
    display: none;
    top: 40px;
    min-width: 120px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 15px;
    color: #fdfdfd;
    background:rgba(0,0,0,0.6);
    vertical-align:bottom;
    z-index: 9999
}
[tooltip]:hover:before {
    visibility: visible;
}
