#decision_div {
	width: calc(100%);
	overflow: auto;
}

#decision_info_div {
	float:left;
	width: 100%;
}

#discussion_div {
	display: none;
	margin-top: 10px;
	margin-bottom: 10px;
	overflow: auto;
	float: left;
	width: 100%;
}

#decision_div #arguments_expand_div {
	width:calc(100% - 30px);
	clear: both;
	margin-top: 20px;
	margin-left: 15px;
}

#decision_div #arguments_div {
	width:100%;
	display:block;
	clear:both;
}

#decision_div #left_div {
	width: calc(100% - 170px - 50px - 40px);
	float:left;
	padding-right: 10px;
	min-width: 322px;
}

#decision_div #right_div {
	width: 260px;
	float: left;
	padding-left: 5px;
}

#decision_div #right_div #right-top {
	
}

#decision_div #right_div #right-bottom {
	margin-top:10px;
	text-align:center;
	display: none;
}

#decision_div #right_div #right-bottom .btn {
	width: 80%;
	margin-top:10px;
}


#decision_div #description {
	width:100%;
	overflow-y: auto;
}

#decision_div #from_to_state {
	width:100%;
	margin-top: 2px;
}

#decision_div #metrics {
	width: 100%;
	margin-top: 20px;
	display: none;
	overflow: auto;
}

#decision_div .progress-group {
	clear: both;
}

#decision_div .progress-group label {
	width: 80px;
	float: left;
	margin-left:5px;
}

#decision_div .progress-group .badge {
	width: 50px;
}

#decision_div #metrics .progress {
	margin-bottom: 10px;
	width: calc(100% - 345px);
	float: left;
	margin-left: 5px;
	min-width: 167px;
}


#decision_div #right_div #verdictTime_div {
	display: none;
}

#decision_div #right_div #verdict_div {
	display: none;
}


#discussion_div .panel {
	min-height: 80px;
	width: calc(50% - 10px);
	float: left;
	margin-left: 8px;
	overflow: auto;
	min-width:300px;
}

#discussion_div .arg_new_form {
	display: none;
}

#discussion_div .save-btn {
	float:right;
	margin-top: 5px;
	width: 100px;
}

#discussion_div .args_list_div {
	width:100%;
	float:left;
	overflow: auto;
}

#discussion_div .argument_container {
	width:100%;
	float:left;
	overflow: auto;
}



