#comment_item_div {
	min-height: 35px;
	max-height: 300px;
	width: calc(100% - 20px - 2px);
	clear:none;
	overflow: auto;
}

#comment_item_div p {
	font-size: 12px;
}

#comment_item_div #comment_left {
	width: 15px;
	height: 40px;
	float:left;
	margin-top: 0px;
	text-align: center;
	color:#cccccc;
	font-size: 12px;
}

#comment_item_div #comment_right {
	width: calc(100% - 15px - 10px);
	float:left;
	padding-left: 10px;
}

#comment_item_div #comment_right_top {
	width: calc(100%);
	float:left;
	min-height: 28px;
	margin-bottom: 5px;
}

#comment_item_div #comment_right_bottom {
	width: calc(100%);
	float: left;
}

#comment_item_div #replies_container {
	width: calc(100%);
	float: left;
	overflow:auto;
}


#comment_item_div #comment_promotion_up_div {
	width:100%;
	height: 15px;
	cursor: pointer;
}

#comment_item_div #comment_promotion_down_div {
	width:100%;
	height: 15px;
	padding-top: 2px;
	cursor: pointer;
}

#comment_item_div #comment_promotion_center_div {
	width:100%;
	height: 10px;
	color:#545454;
	font-size: 11px;
}

#comment_item_div #comment_content {
}

#comment_item_div #comment_right_bottom p {
	font-size: 10px;
}

#comment_item_div #comment_show_replies {
	float:left;
	width:150px;
	margin-right: 10px;
	margin-left: 0;
}

#comment_item_div #comment_edit {
	float:left;
	width:100px;
	margin-right:10px;
	display:none;
}

#comment_item_div #comment_delete {
	float:left;
	width:100px;
	display:none;
}

#comment_item_div #comment_creator {
	float:right;
	margin-right:10px;
	padding-top: 2px;
}

#comment_item_div #comment_reply {
	float:right;
	width:100px;
	margin-right: 10px;
}

#comment_item_div .reply_container {
	float:right;
	width:100%;
	margin-top: 2px;
}
