#comments_div {
	width: calc(100%);
	clear:none;
	overflow: auto;
	padding-top: 5px;
}

#comments_div #new_comment_btn {
	width: 100px;
	float: left;
	clear:both;
	display: none;
}

#comments_div #new_comment_form {
	width: calc(100% - 30px);
	float:left;
	overflow:auto;
	margin-left: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: none;
	margin-right: 5px;
}

#comments_div #replies_elements {
	margin-top: 10px;
	margin-bottom: 5px;
	display:none;
	float: left;
	width: 100%;
}


#comments_div #new_comment_content {
	width: calc(100%);
	float:left;
	overflow:auto;
	font-size: 12px;
}

#comments_div #new_comment_save {
	width: 100px;
	float:right;
	margin-top: 5px;
}


#comments_div #comments_list_container {
	width: 100%;
	float: left;
	margin-top: 10px;
	overflow-y: auto;
}

#comments_div .comment_item_div {
	width: calc(100%);
	float: left;
	margin-top: 5px;
	font-size: 12px;
}


