#project_container {
	height:70px;
	width:calc(100% - 10px);
}

#project_container #project_name {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 30px;
	margin-right: 0;
	clear:both;
	font-size:22px;
	font-weight: bold;
}

#project_container #project_description {
	margin-top: 0;
	margin-bottom: 0;
	margin-left:30px;
	margin-right: 0;
	clear:both;
	font-size:14px;
	font-weight: normal;
}

#project_container #project_cbtions_p {
	margin-top: 0;
	margin-bottom: 0;
	margin-left:30px;
	margin-right: 0;
	clear:both;
	font-size:14px;
	font-weight: normal;
}
