#project_container {
	width: calc(100% - 20px - 6px);
	overflow: auto;
}

#project_container .marker {
	clear:both;
	font-style:italic;
	font-size:14px;
}

#project_container #project_name {
	margin-top: 5px;
	margin-bottom: 0;
	margin-left: 10px;
	margin-right: 0;
}

#project_container #project_name p {
	clear:both;
	font-size:35px;
	font-weight: bold;
	font-style:normal;
}

#project_container #project_description {
	margin-top: 20px;
	margin-bottom: 0px;
	margin-left: 0;
	margin-right: 0;
	clear:both;
	font-size:14px;
	font-weight: normal;
}

#project_container #project_contributors {
	margin-top: 10px;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	clear:both;
}

#project_container #project_contributors #contributors_list {
	margin-top: 10px;
	margin-bottom: 0;
	margin-left: 15px;
	margin-right: 0;
	clear:both;
}

#project_container #project_contributors #contributors_list p {
	margin-top: 3px;
}