#cbtion_container {
	width: calc(100%);
}

#cbtion_container #cbtion_project {
	margin-top: 0;
    margin-bottom: 0;
    margin-left: 30px;
    margin-right: 0;
	clear:both;
	font-size:22px;
	font-weight: bold;
	cursor:pointer;
}

#cbtion_container #cbtion_goals {
	margin-top: 0;
    margin-bottom: 0;
    margin-left: 30px;
    margin-right: 0;
	clear:both;
	font-size:22px;
	font-weight: bold;
}

#cbtion_container #cbtion_title {
	margin-top: 0;
    margin-bottom: 0;
    margin-left: 30px;
    margin-right: 0;
	clear:both;
	font-size:22px;
	font-weight: bold;
}

#cbtion_container #cbtion_description {
	margin-top: 0;
    margin-bottom: 0;
    margin-left:30px;
    margin-right: 0;
	clear:both;
	font-size:14px;
	font-weight: normal;
}

#cbtion_container #cbtion_product {
	margin-top: 0;
    margin-bottom: 0;
    margin-left:30px;
    margin-right: 0;
	clear:both;
	font-size:14px;
	font-weight: normal;
}

#cbtion_container #creator_username {
	margin-top: 0;
    margin-bottom: 0;
    margin-left: 30px;
    margin-right: 0;
	clear:both;
	font-size:14px;
	font-weight: bold;
}

#cbtion_container #cbtion_state {
	margin-top: 0;
    margin-bottom: 0;
    margin-left: 30px;
    margin-right: 0;
	clear:both;
	font-weight: normal;
}

#cbtion_container #cbtion_open_dec {
	margin-top: 5px;
	margin-left: 30px;
}




