#cbtion_container {
	height:70px;
	width:calc(100% - 10px);
}

#cbtion_container #cbtion_project {
	margin-top: 0;
    margin-bottom: 0;
    margin-left: 30px;
    margin-right: 0;
	clear:both;
	font-size:22px;
	font-weight: bold;
	cursor:pointer;
}

#cbtion_container #cbtion_goals {
	margin-top: 0;
    margin-bottom: 0;
    margin-left: 30px;
    margin-right: 0;
	clear:both;
	font-size:22px;
	font-weight: bold;
}

#cbtion_container #cbtion_title {
	margin-top: 0;
    margin-bottom: 0;
    margin-left: 30px;
    margin-right: 0;
	clear:both;
	font-size:22px;
	font-weight: bold;
}

#cbtion_container #cbtion_description {
	margin-top: 0;
    margin-bottom: 0;
    margin-left:30px;
    margin-right: 0;
	clear:both;
	font-size:14px;
	font-weight: normal;
}

#cbtion_container #cbtion_product {
	margin-top: 0;
    margin-bottom: 0;
    margin-left:30px;
    margin-right: 0;
	clear:both;
	font-size:14px;
	font-weight: normal;
}

#cbtion_container #creator_username {
	margin-top: 0;
    margin-bottom: 0;
    margin-left: 30px;
    margin-right: 0;
	clear:both;
	font-size:14px;
	font-weight: bold;
}

#cbtion_container #cbtion_state {
	margin-top: 0;
    margin-bottom: 0;
    margin-left: 30px;
    margin-right: 0;
	clear:both;
	font-weight: normal;
}

#cbtion_container button {
	background-color:#D1DBBD;
	margin-top:5px;
	margin-left: 30px;
	margin-right:6px;
	margin-bottom:6px;
	height:20px;
	color:#888844;
	text-align:center;
	float:left;
	cursor:pointer;
	border-radius:5px;
	clear:both;
}

#cbtion_container #bids_portion_div {
	height:700px;
	width:100%;	
}

#cbtion_container #new_bid_btn {
	height:20px;
	width:200px;
	float:left;
	cursor:pointer;
	border-radius:3px;
	background-color: #cccccc;
	margin-left:calc(30px + 3px + 3px);
	margin-bottom: 5px;
}

#cbtion_container #new_bid_btn p {
	margin-top: 2px;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	width:100%;
	font-family: "calibri";
	text-align:center;
	font-size:14px;
	font-style: normal;
}

#cbtion_container #new_bid_div {
	display:none;
	width:calc(100% - 30px - 3px - 3px - 10px - 3px - 3px);
	height:25px;
	clear:both;
	margin-bottom: 3px;
	margin-left:calc(30px + 3px + 3px);
	border-radius: 5px;
	border-style: solid;
	border-width: 3px;
	padding: 5px;
	border-color: #cccccc;
}

#cbtion_container #new_bid_div p {
	margin-top: 3px;
	margin-bottom: 0;
	margin-left: 0px;
	margin-right: 0;
	width:100%;
	text-align:center;
	font-size:14px;
}

#cbtion_container #new_bid_div #newbid_username_div {
	width:150px;
	height:100%;
	float:left;
	border-radius:3px;
}

#cbtion_container #new_bid_div #newbid_ppoints_div {
	width:120px;
	height:100%;
	float:left;
	border-radius:3px;
}

#cbtion_container #new_bid_div #newbid_description_div {
	width:200px;
	height:100%;
	float:left;
	border-radius:3px;
	margin-left: 20px;
}

#cbtion_container #new_bid_div #newbid_ppoints_in {
	width:100%;
	height:100%;
	text-align:center;
	border-radius: 5px;
}

#cbtion_container #new_bid_div #newbid_description_in {
	float:right;
	width:200px;
	max-width: 200px;
	max-height: 200px;
	resize: vertical;
	height:100%;
	border-radius:5px;
	padding-top:3px;
}


#cbtion_container #new_bid_div #newbid_submit_div {
	width:100px;
	height:calc(100% - 2px);
	margin-top: 1px;
	margin-left: 20px;
	float:left;
	border-radius:3px;
	cursor:pointer;
	background-color: #e6e6e6;
}

#cbtion_container #new_bid_div #newbid_submit_div p {
	font-size:12px;
}

#cbtion_container #bids_div {
	width:calc(100% - 52px);
	max-height: 1200px;
	height: auto;
	overflow: auto;
	margin-left:30px;
	margin-top: 10px;
	border-color: #cccccc;
	border-width:3px;
	border-style:solid;
	border-radius:5px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
}

#cbtion_container #bids_div .bid_div {
     width: 235px;
     height: 205px;
     float: left;
     margin-bottom:3px;
     margin-right: 20px;
} 




