<div>
    <div id="main-content" class="w3-container">
        <h1>WebSocket Debug Page</h1>
        <div class="w3-row">
            <div class="w3-half">
                <form class="w3-container">
                    <div class="form-group">
                        <label for="connect">WebSocket connection:</label>
                        <button id="connect" class="w3-button transfer-button app-button" type="submit" :disabled="connected == true" @click.prevent="connect">Connect</button>
                        <button id="disconnect" class="w3-button transfer-button app-button" type="submit" :disabled="connected == false" @click.prevent="disconnect">Disconnect
                        </button>
                    </div>
                </form>
            </div>
            <div class="w3-half">
                <form class="form-inline">
                    <div class="form-group">
                            <label>Type Some Text</label>
                        <textarea id="name" class="w3-input" v-model="send_message" placeholder="Your text here..."></textarea>
                    </div>
                    <p><button id="send" class="w3-button transfer-button app-button" type="submit" @click.prevent="send">Send</button></p>
                </form>
            </div>
        </div>
        <div class="w3-row">
            <div class="m12">
                <table id="conversation" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Response From Server</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in received_messages" :key="item">
                            <td>{{ item }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>