.cbtion_div {
	/* background-color: #ccddff; */
	min-height: 100px;
	width:calc(100% - 6px);
	margin-top: 6px;
	clear:both;
	overflow: hidden;
	border-radius: 6px;
	border-style: solid;
	border-width: 3px;
	border-color: #cccccc;
}

.cbtion_div #promotion_div {
	width:25px;
	height: 100px;
	float:left;
	margin-top: 0px;
	text-align: center;
	color:#cccccc;
}

.cbtion_div #promotion_up_div {
	width:100%;
	height: calc(50% - 10px - 15px);
	padding-top:15px;
	cursor: pointer;
}

.cbtion_div #promotion_down_div {
	width:100%;
	height:calc(50% - 10px - 15px);
	padding-top:2px;
	cursor: pointer;
}

.cbtion_div #promotion_center_div {
	width:100%;
	height:20px;
	font-size:14px;
	color:#545454;
}

.cbtion_div #cb_left_div {
	width: calc(100% - 25px - 220px);
	height: 100px;
	float:left;
	margin-top: 0px;
}

.cbtion_div #cb_center_div {
	width:0px;
	height: 100px;
	float:left;
	margin-top: 0px;
}

.cbtion_div #cb_right_div {
	width: 220px;
	height: 100px;
	float:left;
	margin-top:6px;
}

.cbtion_div #title_div {
	height:20px;
	width: 100%;
	float:left;
	margin-top: 5px;
	clear:both;
	overflow: hidden;
}

.cbtion_div #title_div a {
	font-size: 12pt;
	cursor:pointer;
	white-space: nowrap;
}

.cbtion_div #description_div {
	height: 50px;
	float:left;
	/* margin-top: 5px; */
	clear:both;
	overflow-y: auto;
}

.cbtion_div #description_div p {
	font-size: 10pt;
	font-style: normal;
}

.cbtion_div #product_div {
	height: 20px;
	width: 100%;
	float:left;
	/* margin-top: 5px; */
	clear:both;
	overflow-y: auto;
}

.cbtion_div #product_div p {
	font-size: 10pt;
	font-style:italic;
	display: inline;
}


.cbtion_div #cb_right_div #cbtion_meta_data_div a {
	font-size: 10pt;
	cursor:pointer;
	overflow:hidden;
}

.cbtion_div #cb_right_div #cbtion_meta_data_div p {
	font-size: 13px;
	font-style:normal;
	overflow:hidden;
	display:inline;
}

.cbtion_div #creator_div {
	float:left;
	clear:both;
}

.cbtion_div #state_div {
	height: 15px;
	float:left;
	clear:both;
	margin-top: 4px;
}

.cbtion_div #status_desc_div {
	height: 35px;
	float:left;
	clear:both;
	margin-top: 3px;
}

.cbtion_div #status_desc_div .status_accepted_p {
	font-size:14px;
}

.cbtion_div #project_div {
	height: 15px;
	float:left;
	clear:both;
}

.cbtion_div #cbtion_show_reviews {
	margin-top: 10px;
	height:15px;
	width:100%;
}

.cbtion_div #cbtion_reviews_div {
	float: left;
	overflow: auto;
	margin-bottom: 10px;
	margin-left: 5px;
	width: 100%;
	display: none;
}

.cbtion_div .cbtion_review_container {
	width: calc(50% - 7px );
}



