<!DOCTYPE html>
<html lang="en"
	layout:decorator="layouts/main">
<head>
	<script type="text/javascript" th:src="@{/views/activityListPage.js}"></script>
	
	<script th:src="@{/elements/filterElement/filterElement.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/elements/filterElement/filterElement.css}"/>
	<script type="text/javascript" th:src="@{/elements/activityBox/activityBox.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/elements/activityBox/activityBox.css}"/>
	
	<title>CollectiveOne - Recent Activity</title>
</head>
<body>
	<div layout:fragment="content_pane">
		<div id="filter_container"></div>
		<div id="list_of_elements"></div>
	</div>
</body>
</html>
