<!DOCTYPE html>
<html lang="en" layout:decorator="layouts/main">
<head>
	<title>CollectiveOne - Create Goal</title>
	
	<script type="text/javascript" th:src="@{/views/goalNewPage.js}"></script>
</head>
<body>
	<div layout:fragment="content_pane">
		<div sec:authorize="isAuthenticated()">
			<form id="new_cbtion_form" action="#" th:action="@{/views/goalNewSubmit}" th:object="${goal}" method="post">
				<h2>Create a new goal</h2>
				<br />
	
				<div class="form-group">
					<label for="sel1">Project:</label>
					<select id="project_select" class="form-control" th:field="*{projectName}"></select>
				</div>
				<div class="form-group">
					<label for="title">New Goal Tag:</label> 
					<input type="text" class="form-control" th:field="*{goalTag}"></input>
				</div>
				<div class="form-group">
					<label for="title">Parent Goal:</label> 
					<input type="text" class="form-control" th:field="*{parentGoalTag}" placeholder="parent goal is optional"></input>
				</div>
				<div class="form-group">
					<label for="description">Description:</label>
					<textarea type="text" class="form-control" rows="5" th:field="*{description}"></textarea>
				</div>
				
				<button type="submit" class="btn btn-lg btn-primary btn-block">Create</button>
			</form>
		</div>
	</div>
</body>
</html>