<!DOCTYPE html>
<html lang="en"
	layout:decorator="layouts/main">
<head>
	<script type="text/javascript" th:src="@{//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.js}"></script>
	<script type="text/javascript" th:src="@{/views/goalPage.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/views/goalPage.css}" />
		
	<script type="text/javascript" th:src="@{/elements/goalBox/goalBox.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/elements/goalBox/goalBox.css}" />
	
	<script type="text/javascript" th:src="@{/elements/goalWeightsBox/goalWeightsBox.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/elements/goalWeightsBox/goalWeightsBox.css}" />
	
	<script th:src="@{/elements/cbtionList/cbtionList.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/elements/cbtionList/cbtionList.css}"/>
	
	<!-- TODO these dependencies should be loaded dynamically when cbtionList is needed -->
	<script type="text/javascript" th:src="@{/elements/cbtionBox/cbtionBox.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/elements/cbtionBox/cbtionBox.css}"/>
	<script type="text/javascript" th:src="@{/elements/decisionBase/decisionBase.js}"></script>
	<script type="text/javascript" th:src="@{/elements/decisionBoxSmall/decisionBoxSmall.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/elements/decisionBoxSmall/decisionBoxSmall.css}"/>
	<script th:src="@{/elements/filterElement/filterElement.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/elements/filterElement/filterElement.css}"/>
	
	
	<title th:text="'CollectiveOne | '${projectName} + '+' + ${goalTag}">CollectiveOne - Goal</title>
	<meta property="og:title" th:content="'CollectiveOne | '${projectName} + '+' + ${goalTag}" />
	<meta property="og:description" th:content="${goalDescription}" />
	<meta property="og:type" content="website" />
	<meta property="og:url" th:content="'http://http://www.collectiveone.org/views/goalPageR/'+${goalId}" />
	<meta property="og:image" content="http://www.collectiveone.org/images/Logo.png" />
	
	<script th:inline="javascript">
	/*<![CDATA[*/
		/* request parameters are sent back to JS by thymeleaf model */
		GLOBAL.REQ_goalTag = [[${goalTag}]]; 
		GLOBAL.REQ_projectName = [[${projectName}]];
	/*]]>*/
	</script>
</head>
<body>
	<div layout:fragment="content_pane">
		<br />
		<div id="goal_container"></div>
		<div id="goal_weights_div" class="panel panel-info">
			<div class="panel-heading"><b>Participation</b></div>
			<div id="goal_weights_container">
			</div>
		</div>
		<div id="cbtions_div" class="panel panel-info">
			<div class="panel-heading"><b>Contributions</b></div>
			<div id="cbtions_container">
			</div>
		</div>
	</div>
</body>
</html>