<!DOCTYPE html>
<html lang="en"
	layout:decorator="layouts/main">
<head>
	<script type="text/javascript" th:src="@{/views/projectListPage.js}"></script>
	
	<link rel="stylesheet" type="text/css" th:href="@{/elements/projectBox/projectBox.css}" />
	<script type="text/javascript" th:src="@{/elements/projectBox/projectBox.js}"></script>
	
	<script type="text/javascript" th:src="@{/elements/filterElement/filterElement.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/elements/filterElement/filterElement.css}"/>
	
	<title>CollectiveOne - Browse Projects</title>
	
</head>
<body>
	<div layout:fragment="content_pane">
		<div id="filter_container"></div>
		<div id="list_of_elements"></div>
	</div>
</body>
</html>