<!DOCTYPE html>
<html lang="en"
	layout:decorator="layouts/main">
<head>

	<script type="text/javascript" th:src="@{//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.js}"></script>
	<script type="text/javascript" th:src="@{/views/projectPage.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/views/projectPage.css}"/>
	
	<script type="text/javascript" th:src="@{/elements/goalBox/goalBox.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/elements/goalBox/goalBox.css}" />
	
	
	<script th:src="@{/elements/cbtionList/cbtionList.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/elements/cbtionList/cbtionList.css}"/>
	<!-- TODO these dependencies should be loaded dynamically when cbtionList is needed -->
	<script type="text/javascript" th:src="@{/elements/cbtionBox/cbtionBox.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/elements/cbtionBox/cbtionBox.css}"/>
	<script type="text/javascript" th:src="@{/elements/decisionBase/decisionBase.js}"></script>
	<script type="text/javascript" th:src="@{/elements/decisionBoxSmall/decisionBoxSmall.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/elements/decisionBoxSmall/decisionBoxSmall.css}"/>
	<script th:src="@{/elements/filterElement/filterElement.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/elements/filterElement/filterElement.css}"/>
	
	<title th:text="'CollectiveOne - ' + ${projectName}">CollectiveOne - Project</title>
	<meta property="og:title" th:content="'CollectiveOne - ' + ${projectName}" />
	<meta property="og:description" th:content="${projectDescription}" />
	<meta property="og:type" content="website" />
	<meta property="og:url" th:content="'http://www.collectiveone.org/views/projectPageR/'+${projectName}" />
	<meta property="og:image" content="http://www.collectiveone.org/images/Logo.png" />
	
	<script th:inline="javascript">
	/*<![CDATA[*/
		/* request parameters are sent back to JS by thymeleaf model */
		GLOBAL.REQ_projectName = [[${projectName}]];
	/*]]>*/
	</script>
</head>
<body>
	<div layout:fragment="content_pane">
		<br />
		<div class="alert alert-info">
		  <strong>Tip</strong><br />
		  This is a dedicated page for this project. Here you can find all project goals, expand them into their sub-goals, see the ownership distribution and go to each contributor's page (clicking on their bar).
		</div>
		<div id="project_container" class="cp_box_gray_thick">
			<div id="project_name"><h2></h2></div>
			<div id="description_panel" class="panel panel-info">
				<div class="panel-heading"><b>Description</b></div>
			 	<div class="panel-body" id="project_description"></div>
			</div>
			<div id="goals_panel" class="panel panel-info">
				<div class="panel-heading"><b>Goals</b></div>
			 	<div class="panel-body" id="project_goals"></div>
			</div>
			<div id="contributors_panel" class="panel panel-info">
				<div class="panel-heading"><b>Contributors</b></div>
			 	<div id="contributors_chart_container" class="cp_box_gray_slim">
			 		<table id="contributors_table" class="table table-striped">
						<thead>
							<tr>
								<th>username</th>
								<th>pps</th>
								<th>%</th>
								<th># contrib. <br /> created</th>
								<th># contrib. <br /> done</th>
								<th># done <br />(recently)</th>
								<th>mean pps <br />per contrib.</th>
							</tr>
						</thead>
						<tbody id="contributors_table_body">
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>