<!DOCTYPE html>
<html lang="en" layout:decorator="layouts/main">
<head>
	<title>CollectiveOne - Create Project</title>
	
	<script th:inline="javascript">
	/*<![CDATA[*/
		$(document).ready(function() {
			$('#description_editor',this.container).markdown({
				autofocus:false,
				savable:false,
				hiddenButtons: ["cmdHeading", "cmdImage"],
				resize: "vertical"
			});
		});
	/*]]>*/
	</script>
</head>
<body>
	<div layout:fragment="content_pane">
		<div sec:authorize="isAuthenticated()">
			<form id="new_project_form" action="#" th:action="@{/views/projectNewSubmit}" th:object="${project}" method="post">
				<h2>Create a new project</h2>
				<br />
	
				<div class="alert alert-info" >New projects require to be pre-authorized, please contact us if you are interested in creating one at contact@collectiveone.org or on twitter at @collectiveonepr</div>
				<div th:class="form-group" th:classappend="${#fields.hasErrors('name')}? 'has-error'">
					<label for="title">Name:</label> 
					<input type="text" class="form-control" th:field="*{name}"></input>
					<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:class="help-block">Title Errors</span>
				</div>
				<div th:class="form-group" th:classappend="${#fields.hasErrors('description')}? 'has-error'">
					<label for="description">Description:</label>
					<textarea id="description_editor" type="text" class="form-control" rows="5" th:field="*{description}"></textarea>
					<span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" th:class="help-block">Title Errors</span>
				</div>
				<div th:class="form-group" th:classappend="${#fields.hasErrors('ppsInitial')}? 'has-error'">
					<label for="title">Initial pp's:</label> 
					<input type="number" class="form-control" th:field="*{ppsInitial}"></input>
					<span th:if="${#fields.hasErrors('ppsInitial')}" th:errors="*{ppsInitial}" th:class="help-block">Title Errors</span>
					(assigned to project creator)
				</div>
				<div th:class="form-group" th:classappend="${#fields.hasErrors('goalTag')}? 'has-error'">
					<label for="title">Goal Tag (each project must have, at least, one goal):</label> 
					<input type="text" class="form-control" th:field="*{goalTag}"></input>
					<span th:if="${#fields.hasErrors('goalTag')}" th:errors="*{goalTag}" th:class="help-block">Title Errors</span>
				</div>
				<div th:class="form-group" th:classappend="${#fields.hasErrors('goalDescription')}? 'has-error'">
					<label for="goalDescription">Goal description:</label>
					<textarea id="description_editor" type="text" class="form-control" rows="5" th:field="*{goalDescription}"></textarea>
					<span th:if="${#fields.hasErrors('goalDescription')}" th:errors="*{goalDescription}" th:class="help-block">Goal Description Errors</span>
				</div>
				
				<button type="submit" class="btn btn-lg btn-primary btn-block">Create</button>
			</form>
		</div>
	</div>
</body>
</html>