<!DOCTYPE html>
<html lang="en" layout:decorator="layouts/main">
<head>
	<title>CollectiveOne - Create Project</title>
	<meta property="og:title" content="CollectiveOne - Create Project" />
	<meta property="og:description" content="Create a new project in CollectiveOne" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://www.collectiveone.org/v/projectNew" />
	<meta property="og:image" content="http://www.collectiveone.org/images/Logo.png" />
	
	<script th:inline="javascript">
	/*<![CDATA[*/
		$(document).ready(function() {
			$('#description_editor',this.container).markdown({
				autofocus:false,
				savable:false,
				hiddenButtons: ["cmdHeading", "cmdImage"],
				resize: "vertical"
			});
			
			$('#goal_description_editor',this.container).markdown({
				autofocus:false,
				savable:false,
				hiddenButtons: ["cmdHeading", "cmdImage"],
				resize: "vertical"
			});
			
			$('.user-input',this.container).autocomplete({
				serviceUrl: '/1/users/suggestions',
				minChars: 0,
				maxHeight: 100
			});
			
		});
	
		
	/*]]>*/
	</script>
</head>
<body>
	<div layout:fragment="content_pane">
		<div sec:authorize="isAuthenticated()">
			
			
			
			<form class="col-md-8" id="new_project_form" action="#" th:action="@{/v/projectNewSubmit}" th:object="${project}" method="post">
				
				<h2>Create a new project</h2>
				<br />
	
				<div class="alert alert-info" >New projects require to be pre-authorized, please contact us if you are interested in creating one at contact@collectiveone.org or on twitter at @collectiveonepr</div>
				<div th:class="form-group" th:classappend="${#fields.hasErrors('name')}? 'has-error'">
					<label for="title">Name:</label> 
					<input type="text" class="form-control" th:field="*{name}"></input>
					<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:class="help-block">Title Errors</span>
				</div>
				<div th:class="form-group" th:classappend="${#fields.hasErrors('description')}? 'has-error'">
					<label for="description">Description:</label>
					<textarea id="description_editor" type="text" class="form-control" rows="5" th:field="*{description}"></textarea>
					<span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" th:class="help-block">Title Errors</span>
				</div>
				<div th:class="form-group" th:classappend="${#fields.hasErrors('goalTag')}? 'has-error'">
					<label for="title">Goal Tag (each project must have, at least, one goal):</label> 
					<input type="text" class="form-control" th:field="*{goalTag}"></input>
					<span th:if="${#fields.hasErrors('goalTag')}" th:errors="*{goalTag}" th:class="help-block">Title Errors</span>
				</div>
				<div th:class="form-group" th:classappend="${#fields.hasErrors('goalDescription')}? 'has-error'">
					<label for="goalDescription">Goal description:</label>
					<textarea id="goal_description_editor" type="text" class="form-control" rows="5" th:field="*{goalDescription}"></textarea>
					<span th:if="${#fields.hasErrors('goalDescription')}" th:errors="*{goalDescription}" th:class="help-block">Goal Description Errors</span>
				</div>
				
				<div class="form-group from-group-force-of">
					<label>Initial Contributors:</label>
					<div th:each="usernameAndPps, rowStat : ${project.usernamesAndPps}" th:class="form-group" th:classappend="${#fields.hasErrors('usernamesAndPps')}? 'has-error'">
						<div class="col-md-5">
							<input class="user-input form-control" type="text" th:field="*{usernamesAndPps[__${rowStat.index}__].username}" th:value="${usernameAndPps.username}"></input>
						</div>
						<div class="col-md-3">
							<input class="form-control" type="number" th:field="*{usernamesAndPps[__${rowStat.index}__].pps}" th:value="${usernameAndPps.pps}"></input>
						</div>
						<span th:if="${#fields.hasErrors('usernamesAndPps')}" th:errors="*{usernamesAndPps}" th:class="help-block">UsernamesAndPps Errors</span>
					</div>
				</div>
				<div class="form-group from-group-force-of">
					<div class="col-md-6">
						<button type="submit" name="addContributor" class="btn btn-default btn-block">add initial contributor</button>
						<button type="submit" name="removeContributor" class="btn btn-default btn-block">remove last contributor</button>
					</div>
				</div>
				
			
				<button type="submit" class="btn btn-lg btn-primary btn-block">Create Project</button>
				
			</form>
		</div>
	</div>
</body>
</html>