<!DOCTYPE html>
<html lang="en"
	layout:decorator="layouts/main">
<head>
	<script type="text/javascript" th:src="@{/views/projectListPage.js}"></script>
	
	<link rel="stylesheet" type="text/css" th:href="@{/elements/projectBox/projectBox.css}" />
	<script type="text/javascript" th:src="@{/elements/projectBox/projectBox.js}"></script>
	
	<script type="text/javascript" th:src="@{/elements/filterElement/filterElement.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/elements/filterElement/filterElement.css}"/>
	
	<title>CollectiveOne - Browse Projects</title>
	<meta property="og:title" content="CollectiveOne - Browse Projects" />
	<meta property="og:description" content="Browse projects within CollectiveOne" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://http://www.collectiveone.org/views/decisionListPageR" />
	<meta property="og:image" content="http://www.collectiveone.org/images/Logo.png" />
	
</head>
<body>
	<div layout:fragment="content_pane">
		<div id="filter_container"></div>
		<div id="list_of_elements"></div>
	</div>
</body>
</html>