<!DOCTYPE html>
<html lang="en"
	layout:decorator="layouts/main">
<head>
	<title>CollectiveOne - Signup Request</title>
	<meta property="og:title" content="CollectiveOne - Request Signup" />
	<meta property="og:description" content="Request signup to CollectiveOne" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://www.collectiveone.org/v/signupRequest" />
	<meta property="og:image" content="http://www.collectiveone.org/images/Logo.png" />
	
	<script th:inline="javascript">
	/*<![CDATA[*/
		$(document).ready(function() {
			$('#referral_in',this.container).autocomplete({
				serviceUrl: '/rest/users/getSuggestionsReferrer',
				minChars: 0,
				maxHeight: 100
			});
		});
	/*]]>*/
	</script>
</head>
<body>
	<div layout:fragment="content_pane">
		<br />
		
		<form id="signupRequest_form" action="#" th:action="@{/v/signupRequestSubmit}" th:object="${signupRequest}" method="post">
			<h2>Signup request</h2>
			<br />
			<div th:if="${message}" class="alert alert-info" th:text="${message}">
	           	message
	        </div>
			<div th:if="!${message}" class="alert alert-info">
	           	<p>We would like to keep one real person behind each user. </p>
	           	<p>Please provide your email below and the user of CollectiveOne that can refer you. That user will receive an email to authorize your sign-up and you will receive a notification afterwards.</p>
	           	<p>If you have any doubt, just select 'collectiveone' as referral.</p> 
	        </div>
	        <div th:if="!${message}">
				<div class="form-group">
					<label for="email">Your email:</label> 
					<input type="text" class="form-control" th:field="*{email}"></input>
				</div>
				<div class="form-group">
					<label for="referral">Referred by:</label> 
					<input type="text" id="referral_in" class="form-control" th:field="*{referral}"></input>
				</div>
				<div th:class="form-group" th:classappend="${#fields.hasErrors('comments')}? 'has-error'">
					<label for="comments">Comments (optional):</label>
					<textarea id="comments_editor" type="text" class="form-control" rows="5" th:field="*{comments}"></textarea>
					<span th:if="${#fields.hasErrors('comments')}" th:errors="*{comments}" th:class="help-block">Title Errors</span>
				</div>
				
				<button type="submit" class="btn btn-lg btn-primary btn-block">Send request</button>
			</div>
		</form>
	</div>
</body>
</html>
