<!DOCTYPE html>
<html lang="en"
	layout:decorator="layouts/main">
<head>
	<title>CollectiveOne - Request Slack Signup</title>
	<meta property="og:title" content="CollectiveOne - Request Slack Signup" />
	<meta property="og:description" content="Request signup to CollectiveOne's Slack" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://www.collectiveone.org/v//slack" />
	<meta property="og:image" content="http://www.collectiveone.org/images/Logo.png" />
</head>
<body>
	<div layout:fragment="content_pane">
		<br />
		
		<form id="new_cbtion_form" action="#" th:action="@{/v/slackInvSubmit}" th:object="${invRequest}" method="post">
			<h2>Get my invitation to <a href="https://collectiveone.slack.com/">collectiveone.slack.com</a></h2>
			<br />
			<div th:if="${message}" class="alert alert-info" th:text="${message}">
	           	message
	        </div>
			<div th:if="!${message}">
				<div class="form-group">
					<label for="email">Email:</label> 
					<input type="text" class="form-control" th:field="*{email}"></input>
				</div>
				
				<button type="submit" class="btn btn-lg btn-primary btn-block">Send Invitation</button>
			</div>
		</form>
	</div>
</body>
</html>