<!DOCTYPE html>
<html lang="en"
	layout:decorator="layouts/main">
<head>
	<script type="text/javascript" th:src="@{/views/userPage.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/views/userPage.css}"/>
	
	<script th:src="@{/elements/cbtionList/cbtionList.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/elements/cbtionList/cbtionList.css}"/>
	<!-- TODO these dependencies should be loaded dynamically when cbtionList is needed -->
	<script type="text/javascript" th:src="@{/elements/cbtionBox/cbtionBox.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/elements/cbtionBox/cbtionBox.css}"/>
	<script type="text/javascript" th:src="@{/elements/decisionBase/decisionBase.js}"></script>
	<script type="text/javascript" th:src="@{/elements/decisionBoxSmall/decisionBoxSmall.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/elements/decisionBoxSmall/decisionBoxSmall.css}"/>
	<script th:src="@{/elements/filterElement/filterElement.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/elements/filterElement/filterElement.css}"/>
	
	<script type="text/javascript" th:src="@{/elements/reviewsElement/reviewItem.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/elements/reviewsElement/reviewItem.css}" />
	<link rel="stylesheet" th:href="@{/external/jquery.rateyo.css}"/>
	<script type="text/javascript" th:src="@{/external/jquery.rateyo.js}"></script>
	
	<title th:text="'CollectiveOne - ' + ${username}">CollectiveOne - User</title>
	
	<script th:inline="javascript">
	/*<![CDATA[*/
		/* request parameters are sent back to JS by thymeleaf model */
		GLOBAL.REQ_username = [[${username}]];
	/*]]>*/
	</script>
</head>
<body>
	<div layout:fragment="content_pane">
		<div id="user_container" class="cp_box_gray_thick">
			<div id="username_div">
				<h2></h2>
			</div>
			<div id="user_profile_div" class="panel panel-info">
				<div class="panel-heading"><b>Profile</b></div>
				<div id="user_profile_container">
					<div id="user_profile_html"></div>
					<form id="edit_profile_form">
						<div class="form-group">
							<textarea id="user_profile_textarea" class="form-control"></textarea>
							<div id="edit_profile_save" class="btn btn-xs btn-info">save</div>
						</div>
					</form>
					<div id="edit_profile_btn" class="btn btn-xs btn-info">edit</div>
				</div>
			</div>
			<div id="projects_contributed_div" class="panel panel-info">
				<div class="panel-heading"><b>Contributor of Projects</b></div>
			</div>
			<div id="accepted_contributions_div" class="panel panel-info">
				<div class="panel-heading"><b>Accepted Contributions</b></div>
				<div id="contributions_list"></div>
			</div>
		</div>
	</div>
</body>
</html>