#filter_div {
	width: 100%;
	min-width: 535px;
}

#filter_bar {
	width: 100%;
	height: 30px;
	-webkit-user-select: none;
}

#filter_bar .filter_div_btn {
	height: 25px;
	float: left;
}

#filter_bar .filter_div_btn p {
	width:100%;
	text-align:center;
	vertical-align: middle;
	margin-top:0px;
	line-height: 25px;
	font-size: 11pt;
	font-style: normal;
}

#filter_bar #filter_btn {
	width: calc(20% - 5px - 15px);
}

#filter_bar #page_btns {
	width: auto;
	float: right;
}

#filter_bar #page_btns #page_set {
	width:120px;
	float: right;
	margin-right:5px;
	background-color: #cccccc;
	border-radius:5px;
	border-style: solid;
	border-color: #545454;
	border-width: 1px;
}

#filter_bar #page_btns #back_page {
	width:30px;
	float: right;
	margin-right:5px;
}

#filter_bar #page_btns #next_page {
	width:30px;
	float: right;
	margin-right:5px;
}


#filter_bar #page_btns #page_set p {
}

#filter_bar #page_btns #next_page p {
}

#filter_bar #page_btns #back_page p {
}

#filter_bar #filter_btn p {
}

#filter_bar #page_btns #sort_by_div {
	min-width: 120px;
	float: right;
	margin-right:5px;
	clear:none;
	height: 100%;
}

#filter_bar #page_btns #sort_by_div select {
	min-width: 120px;
	float: right;
	clear:none;
	height: 27px;
	margin-right:5px;
	border-radius:5px;
	background-color:#cccccc;
	border-style: solid;
	border-color: #545454;
	border-width: 1px;
}


#filter_contents {
	width: calc(100% - 6px);
	overflow: auto;
	margin-bottom: 14px;
	border-radius:5px;
	clear:both;
	border-style: solid;
	border-width: 3px;
	border-color: #cccccc;
	display: none;
	padding-bottom: 10px;
	padding-top: 10px;
}

#loading_gif {
	margin: 0 auto;
	width: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#filter_contents p {
	font-size:10pt;
	display:inline;
}

#filter_contents .filter_checkbox {
	float: left;
	clear: both;
}

#filter_contents .checkbox_p_div {
	float:left;
	padding-top: 1.4px;
}

#filter_contents #filter_projects {
	margin-left: 15px;
	overflow-x: hidden;
	overflow-y: auto;
	float:left;
}

#filter_contents #filter_states {
	margin-left: 15px;
	overflow-x: hidden;
	overflow-y: auto;
	float:left;
}

#filter_contents #filter_inputs {
	width: 100px;
	margin-left: 15px;
	float:left;
}

#filter_contents #filter_inputs_cbtion {
	width: 100px;
	margin-left: 15px;
	float:left;
	display:none;
}

#filter_contents #filter_inputs_decision {
	width: 170px;
	margin-left: 15px;
	float:left;
	display:none;
}

#filter_contents #filter_inputs p {
	font-size:10px;
	margin-left:4px;
}

#filter_contents #filter_inputs_cbtion p {
	font-size:10px;
	margin-left:4px;
}

#filter_contents #filter_inputs input {
	width: 100%;
	border-radius:5px;
}

#filter_contents #filter_inputs_cbtion input {
	width: 100%;
	border-radius:5px;
}

#filter_contents #filter_inputs #filter_keyword {
	margin-bottom:5px;
}

#filter_contents #filter_inputs_cbtion #filter_goal {
}

#filter_contents #filter_inputs_cbtion #filter_subgoals {
	width:100%;
	height: 16px;
}

#filter_contents #filter_inputs_cbtion #filter_subgoals p {
    height: 100%;
    display: block;
    float: left;
    clear: none;
    padding-top: 3px;
    margin-left: 0px;
}

#filter_contents #filter_inputs_cbtion #filter_subgoals_input {
	width:10px;
}




