#container {
	overflow: auto;
	max-width: 1000px;
	margin: 0 auto;
}

#container #logo {
	width: 210px;
}

#container #behind_nav {
	float: left;
	width: 100%;
	height: 51px;
}

#container #active_projects {
	float: right;
	clear: both;
	width: auto;
	margin-bottom: 20px;
	display: none;
}

#container #active_projects div {
	float: left;
}

#container #active_projects label {
	float: left;
	margin-right: 5px;
}

#container #active_projects #active_projects_list label {
	cursor: pointer;
	margin-right: 2px;
	-webkit-user-select: none;
}

#container #error-msg {
	margin-top:20px;
	margin-left:15px;
	margin-right:15px;
}

.navbar-brand {
	padding-top:0px;
	padding-bottom: 0px;
}

.navbar {
	margin-bottom: 0px;
	padding-right:10px;
}

@media (max-width: 1000px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}

.navbar a {
	color:#cccccc;
}

textarea.form-control {
	resize:vertical;
}

#container .cp_navbar-right form {
	display: inline;
} 
	

#container .cp_box_gray_thick {
	border-color: #cccccc;
	border-style:solid;
	border-radius:5px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right: 10px;
	border-width:3px;
}

#container .cp_box_gray_thin {
	border-color: #cccccc;
	border-style:solid;
	border-radius:5px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right: 10px;
	border-width:2px;
}

#container .cp_box_gray_slim {
	border-color: #cccccc;
	border-style:solid;
	border-radius:5px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right: 10px;
	border-width:1px;
}

#container .cp_btn_icon {
	width: 20px;
	cursor:pointer;
}

#container .cp_btn_icon img {
	width:100%;
	height:100%;
}

#container #login_form {
	max-width:300px;
	margin:0 auto;
}

#container #signup_form {
	max-width:300px;
	margin:0 auto;
}

#container #new_cbtion_form {
	max-width:600px;
	margin:0 auto;
}

#container #new_project_form .from-group-force-of {
	overflow:auto;
}

#container #signupRequest_form {
	max-width:600px;
	margin:0 auto;
}

#container #bottom {
	position: relative;
	width:100%;
	clear:both;
	margin-top: 30px;
	padding-left: 10px;
	padding-right: 10px;
}

#container #top #top_right #active_projects {
	float:left;
	padding-top: 30px;
	padding-left: 10px;
}

#container #top #top_right #active_projects .active_project_btn {
	float:left;
	padding-top:3px;
	padding-bottom:3px;
	padding-left:10px;
	padding-right:10px;
	margin-right:5px;
	margin-bottom:5px;
}

#container #top #top_right #active_projects .active_project_btn_selected {
	float:left;	
	padding-top:3px;
	padding-bottom:3px;
	padding-left:10px;
	padding-right:10px;
	margin-right:5px;
	margin-bottom:5px;
	color:#CC0000;
}

#container #license_div {
	overflow: auto;
	max-width: 500px;
	margin: 0 auto;
}

#container #license_div #license_img {
	float:left;
}

#container #license_div #license_text {
	float:left;
	font-size: 12px;
	font-style: italic;
	max-width: 390px;
	margin-left: 15px;
	width: calc(100% - 115px);
}

#container .footer {
	width: 100%;
}

#container #contact_footnote {
	float: right;
	width: 142px;
	margin-right: 20px;
	margin-bottom: 10px;
}

#container #contact_footnote img {
	height:100%;
	width:100%;
}

#container #link_to_slack_container {
	width: 30px;
	display: inline-block;
	float: left;
	margin: 0 auto;
	margin-top: 0px;
}

#container #link_to_github_container {
	width: 23px;
	display: inline-block;
	margin: 0 auto;
	margin-left: 9px;
}

#container #link_to_email_container {
	width: 28px;
	display: inline-block;
	margin: 0 auto;
	margin-left: 10px;
}

#container #link_to_twitter_container {
	width: 26px;
	display: inline-block;
	margin: 0 auto;
	margin-left: 8px;
}

#container #output_div {
	position:fixed;
	top: 0px;
	left:calc(50% - 100px);
	margin-top:0px;
	margin-bottom:0px;
	white-space: nowrap;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-radius: 5px;
}

#container #output_div p {
	color: white;
	white-space: nowrap;
	font-size: 12px;
	text-align:center;
}

#container #content_pane {
	width: calc(100%);
	overflow: auto;
	min-height: 600px;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 50px;
	background-color: white;
}

#container #list_of_elements {
	float:left;
	clear:both;
	width: calc(100% - 10px);
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}


/* page specific goalList*/
#content_pane #list_of_elements .goalBox_div {
	width: calc(100%);
	overflow: auto;
	max-width: 800px;
	margin: 0 auto;
	margin-top: 10px;
}

/* page specific decisionList*/
#content_pane #list_of_elements .decisionbox_div {
	width: calc(100%);
	overflow: auto;
	margin-top: 10px;
}


#content_pane #list_of_elements .projectbox_div {
	width: calc(100%);
	overflow: auto;
	margin-top: 10px;
}

.clickable{
    cursor: pointer;   
}

.panel-heading span {
	margin-top: -20px;
	font-size: 15px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}