body {
    margin: 0px;
}

#container {
	position: relative;
	margin-top:0px;
	margin-left:auto;
	margin-right:auto;
	max-width: 1024px;
	min-width: 600px;
	color:#545454;
	font-family: "arial",sans-serif;
	padding: 10px;
}

#container p {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0;
	margin-right: 0;
	clear:both;
	font-family: "arial",sans-serif;
	color: #545454;
	font-size: 16px;
	font-style: normal;
}

#container a {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0;
	margin-right: 0;
	font-family: "arial",sans-serif;
	text-decoration: initial;
}

#container button{
	float:right;
	border-radius:5px;
	cursor:pointer;
	margin-bottom:5px;
	background: #cccccc;
	color: #545454;
}

#container input {
	font-family: "arial",sans-serif;
	color: #545454;
	font-size: 12px;
	padding-left: 4px;
	padding-top: 2px;
	border-radius:5px;
}

#container textarea {
	font-family: "arial",sans-serif;
	color: #545454;
	padding-left: 4px;
	border-radius: 5px;
}

#container select {
	font-family: "arial",sans-serif;
	color: #545454;	
	padding-left: 4px;
}

#container .cp_btn_light {
	overflow: hidden;
	background-color: #e6e6e6;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
	-webkit-user-select: none;
}

#container .cp_btn_dark {
	background-color: #cccccc;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
	-webkit-user-select: none;
}

#container .cp_btn_dark_hover {
	background-color: #e6e6e6;
}

#container .cp_btn_light p {
	font-size:12px;
}

#container .cp_btn_dark p {
	font-size: 12px;
}

#container .cp_box_gray_thick {
	border-color: #cccccc;
	border-style:solid;
	border-radius:5px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right: 10px;
	border-width:3px;
}

#container .cp_box_gray_thin {
	border-color: #cccccc;
	border-style:solid;
	border-radius:5px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right: 10px;
	border-width:2px;
}

#container .cp_box_gray_slim {
	border-color: #cccccc;
	border-style:solid;
	border-radius:5px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right: 10px;
	border-width:1px;
}


#container #top{
	width:100%;
	height:80px;
	clear:both;
}

#container #content {
	position: relative;
	width:100%;
	clear:both;
	overflow: auto;
}

#container #bottom {
	position: relative;
	width:100%;
	height:50px;
	text-align:center;
	clear:both;
}

#container #top #top_left {
	width:250px;
	height:100%;
	float:left;
}

#container #top #top_left #logo{
	width:100%;
	cursor:pointer;
}

#container #top #top_right {
	width:calc(100% - 250px);
	height:100%;
	float:right;
}

#container #top #top_right #active_projects {
	width: calc(100% - 100px - 10px);
	height:100%;
	float:left;
}

#container #top #top_right #search_box_div {
	width:calc(100% - 150px);
	height:100%;
	float:left;
}

#container #control_div {
	height: 20px;
	width: auto;
	position:absolute;
	right: 10px;
	top: 0px;
}

#container #new_element_form_div {
	height:600px;	
	width:500px;
	position:absolute;
	left:230px;
	top: 150px;
	display:none;
	background-color:#888844;
	border-radius:15px;
	padding-left:10px;
	padding-top:15px;
}

#container #control_div button{
	height:20px;
	width: auto;
	min-width: 100px;
}

#container #user_div {
	background-color: #cccccc;
	width:200px;
	float:right;
	position:absolute;
	right: 10px;
	top: 30px;
	display:none;
	border-radius:5px;
	border-style: solid;
	padding: 10px;
}

#container #user_div #login_div .input {
	margin-top:5px;
	margin-right:5px;
	width:calc(100% - 10px);
	float:right;
	clear:both;
	border-radius:5px;
	font-size: 14px;
}

#container #user_div button {
	margin-top: 10px;
	margin-right:6px;
	margin-bottom:0px;
	margin-bottom: 6px;
	height:20px;
	width:50%;
	text-align:center;
	float:right;
	cursor:pointer;
	border-radius:5px;
	clear:both;
}

#container #user_div a {
	clear:both;
	float: right;
	margin-right: 10px;
	margin-bottom: 10px;
	font-size: 14px;
	text-decoration: inherit;
}

#container #output_div {
	position:fixed;
	top: 0px;
	left:calc(50% - 100px);
	margin-top:0px;
	margin-bottom:0px;
	white-space: nowrap;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-radius: 5px;
}

#container #output_div p {
	color: white;
	white-space: nowrap;
	font-size: 12px;
	text-align:center;
}

#container #nav_pane {
	width: 100%;
	height: 25px;
	float:left;
	font-size:11pt;
	margin-bottom: 20px;
}

#container #nav_pane .nav_btn_list {
	width: calc(16.66% - 17px);
	height: calc(100% - 4px);
	float: left;
	padding-top: 4px;
}

#container #nav_pane #welcome {
	margin-right: 5px;
}

#container #nav_pane #activity_page {
	margin-right: 5px;
}

#container #nav_pane .nav_btn_plus {
	width: 25px;
	height: calc(100% - 4px);
	float: left;
	padding-top: 4px;
	margin-right: 5px;
}

#container #content #content_pane {
	width: calc(100%);
	float:right;
	border-radius:5px;
	overflow: auto;
}

#container .p_header {
	margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
	clear:both;
	font-size:10px;
	font-style: italic;
}

