body {
    margin: 0px;
}

#container {
	position: relative;
	margin-top:0px;
	margin-left:auto;
	margin-right:auto;
	max-width: 1024px;
	min-width: 600px;
	color:#545454;
}

#container p {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0;
	margin-right: 0;
	clear:both;
	font-family: "arial",sans-serif;
	color: #545454;
	font-size: 16px;
	font-style: normal;
}

#container a {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0;
	margin-right: 0;
	font-family: "arial",sans-serif;
	text-decoration: initial;
}

#container button{
	float:right;
	border-radius:5px;
	cursor:pointer;
	margin-bottom:5px;
	background: #e6e6e6;
	color: #545454;
}

#container #top{
	width:100%;
	height:80px;
	clear:both;
}

#container #content {
	position: relative;
	height: auto;
	width:100%;
	clear:both;
}

#container #bottom {
	position: relative;
	width:100%;
	height:50px;
	text-align:center;
	clear:both;
}

#container #top #top_left {
	width:250px;
	height:100%;
	float:left;
}

#container #top #top_left #logo{
	width:100%;
	cursor:pointer;
}

#container #top #top_right {
	width:calc(100% - 250px);
	height:100%;
	float:right;
}

#container #top #top_right #search_box_div {
	width:calc(100% - 150px);
	height:100%;
	float:left;
}

#container #top #top_right #search_box_div #search_box_input {
	margin-top:27px;
	height:30px;
	width:100%;
	border-radius:5px;
	border-style:solid;
	border-width:1px;
	border-color: #cccccc;
}

#container #control_div {
	height:80px;	
	width:100px;
	position:absolute;
	right: 10px;
	top: 0px;
}

#container #new_element_form_div {
	height:600px;	
	width:500px;
	position:absolute;
	left:230px;
	top: 150px;
	display:none;
	background-color:#888844;
	border-radius:15px;
	padding-left:10px;
	padding-top:15px;
}

#container #control_div button{
	height:20px;
	width:100px;
}

#container #user_div {
	background-color: #cccccc;
	width:200px;
	float:right;
	position:absolute;
	right: 10px;
	top: 30px;
	display:none;
	border-radius:5px;
	border-style: solid;
	padding: 10px;
}

#container #user_div #login_div .input {
	margin-top:5px;
	margin-right:5px;
	width:calc(100% - 10px);
	float:right;
	clear:both;
	border-radius:5px;
}

#container #user_div button {
	margin-top: 10px;
	margin-right:6px;
	margin-bottom:0px;
	margin-bottom: 6px;
	height:20px;
	width:50%;
	text-align:center;
	float:right;
	cursor:pointer;
	border-radius:5px;
	clear:both;
}

#container #user_div a {
	clear:both;
	float: right;
	margin-right: 10px;
	margin-bottom: 10px;
	font-size: 14px;
	text-decoration: inherit;
}

#container #output_div {
	white-space: nowrap;
	position:fixed;
	top:0px;
}

#container #output_div p {
	color: white;
}

#container #output_div p {
	white-space: nowrap;
	position:fixed;
	top:0px;
	left:calc(50% - 100px);
	margin-top:0px;
	margin-bottom:0px;
	font-size: 12px;
	text-align:center;
	background-color: darkorange;
}

#container #content #nav_pane {
	width: 190px;
	margin-right:10px;
	float:left;
	border-radius:5px;
	padding-top:10px;
	padding-bottom:10px;
	border-style: solid;
	border-width: 3px;
	border-color: #cccccc;
}

#container #content #nav_pane button {
	float:left;
	height:25px;
	width:calc(100% - 20px);
	margin-left:10px;
	border-radius:5px;
	cursor:pointer;
	margin-bottom:5px;
}

#container #content #content_pane {
	width:calc(100% - 200px - 10px);
	float:right;
	border-radius:5px;
}

#container .p_header {
	margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
	clear:both;
	font-size:10px;
	font-style: italic;
}

