#container #presentation_container {
	text-align: center;
	margin-bottom: 40px;
}

#container #under_presentation {
	text-align: center;
}

#container .row_container {
	overflow: auto;
	margin-bottom: 40px;
	text-align: center;
	width: auto;
}

#container .row_container p {
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
}

#container #link_to_gdoc_container {
	height: 60px;
	width: 60px;
	display: inline-block;
}

#container #link_to_reddit_container {
	height: 62.5px;
	width: 175px;
	display: inline-block;
}

#container #link_to_slack_container {
	margin-top: 21px;
	height: 50px;
	width: 175px;
	display: inline-block;
}

#container #under_presentation img {
	height:100%;
	width:100%;
}

