#container #preferred_browser_div {
	text-align: center;
	margin-bottom: 20px;
}

#container #presentation_container {
	text-align: center;
	margin-bottom: 40px;
}

#container #under_presentation {text-align: center;display: block;float: left;width: 100%;}

#container .row_container {
	margin-bottom: 40px;
	display: block;
	width: 900px;
	margin: 0 auto;
}

#container .row_container p {
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
}

#container .row_container a {
	font-size: 12px;
}

#container .row_container #first_box {
	height: 60px;
	width: 151px;
	float:left;
}

#container .row_container #first_box p {
	width: 90px;
	display: block;
	float: left;
	padding-top: 9px;
}

#container .row_container #second_box {
	height: 60px;
	width: 430px;
	float:left;
	margin-left: 10px;
}

#container .row_container #second_box p {
	width: 90px;
	display: block;
	float: left;
	padding-top: 17px;
}

#container .row_container #third_box {
	height: 60px;
	width: 200px;
	float:left;
	margin-left: 10px;
	text-align: center;
}

#container .row_container #third_box p {
	width: 90px;
	display: block;
	float: left;
	padding-top: 9px;
	margin-bottom: 10px;
}

#container #link_to_gdoc_container {
	height: 60px;
	width: 60px;
	display: inline-block;
	float: left;
}

#container #link_to_reddit_container {
	height: 55px;
	width: 154px;
	display: inline-block;
	float: left;
	margin-left: 10px;
}

#container #link_to_slack_container {
	margin-top: 10px;
	height: 50px;
	width: 175px;
	display: inline-block;
	float: left;
}

#container #under_presentation img {
	height:100%;
	width:100%;
}

