#goal_div {
	clear:none;
	overflow: auto;
}

#goal_div #top_div {
	width:100%;
	float:left;
}

#goal_div #center_div {
	width:100%;
	float:left;
	margin-top: 5px;
	margin-bottom: 10px;
}

#goal_div #goal_control_div {
	float:left;
	display: none;
	margin-top: 10px;
	clear: both;
	width: 100%;
}

#goal_div #edition_proposals_decisions {
	display:none;
	overflow:auto;
}

#goal_div #edition_proposals_decisions label {
	float:left;
	margin-right:10px;
}


#goal_div #goal_control_inside_div {
	clear:both;
}

#goal_div #new_subgoal_form {
	max-width: 400px;
	float:left;
	display: none;
	margin-top: 10px;
	clear: both;
	width: 100%;
}

#goal_div #top_div #goaltag {
	width:100%;
}

#goal_div #top_div #goaltag a {
	margin-left:5px;
	font-weight:bold;
	text-align:left;
	font-size:10px;
	font-style:normal;
	font-size: 12pt;
	display: block;
	float: left;
}

#goal_div #top_div #goaltag label {
	float: right;
	margin-left:5px;
}

#goal_div #center_div #description {
	width:100%;
}

#goal_div #goal_control_div #state {
	height:100%;
	width:100%;	
}

#goal_div #show_subgoals_btn {
	float:left;
	margin-left:10px;
	display:none;
}

#goal_div #n_subgoals_label {
	float:left;
	margin-top: 4px;
	margin-left:10px;
	display:none;
	margin-bottom: 0px;
	cursor:pointer;
}

#goal_div #edition_proposed_label {
	float:left;
	margin-top: 4px;
	margin-left:10px;
	display:none;
	margin-bottom: 0px;
	cursor: pointer;
	font-size: 12px;
}

#goal_div #edition_proposals {
	float: left;
	clear: both;
	width: 100%;
	margin-top: 10px;
	display: none;
}

#goal_div .edition_proposal {
	margin-bottom: 5px;
}


#goal_div #new_subgoal_btn {
	float:left;
	margin-left:10px;
	display:none;
}

#goal_div #show_control_btn {
	float:left;
	margin-left:10px;
	display:none;
}

#goal_div .control_form_container {
	width: 200px;
	margin-right:10px;
	float:left;
	display:none;
	margin-bottom: 10px;
}

#goal_div .edition_proposal_dec {
	margin-bottom:10px;
	margin-right:10px;
	float:left;
}

#goal_div .control_form_container_large {
	width: 300px;
	text-align: left;
}

#goal_div #detach_form_container {
	display: none;
}

#goal_div #increase_budget_form_container {
	display: none;
}

#goal_div #increase_budget_decision_container {
	display: none;
	float:left;
	margin-right: 10px;
}

#goal_div #reattach_decision_container {
	display: none;
	float:left;
	margin-right: 10px;
}

#goal_div .control_btn {
	width:100%;
	float:left;
}

#goal_div .control_form {
	display:none;
}

#goal_div .control_input {
	width:100%;
	float:left;
	margin-top: 3px;
	text-align:center;
}

#goal_div #edit_input {
	text-align:left;	
	min-height:150px;
}

#goal_div .control_save_btn {
	width:100%;
	float:left;
	margin-top: 3px;
}

#goal_div #propose_parent_decision_container {
	margin-right:10px;
	float:left;
	display:none;
	margin-bottom: 5px;
}

#goal_div #edition_history_btn_container {
	margin-right:10px;
	float:left;
	display:none;
	margin-bottom: 5px;
}


#goal_div #state_decision_div {
	float:left;
	margin-bottom: 10px;
	margin-right: 10px;
}

#goal_div #new_subgoal_form #new_subgoal_tag_input {
	width: 100%;
	margin-bottom: 5px;
}

#goal_div #new_subgoal_form #new_subgoal_description_input {
	width: 100%;
	margin-bottom: 10px;
	resize: vertical;
}

#goal_div #new_subgoal_form #new_subgoal_save_btn {
	width: 100px;
	float: right;
}

#goal_div #new_subgoal_form #new_subgoal_error_div {
	float:left;
	width:100%;
	margin-top:10px;
	display:none;
}

#goal_div #new_subgoal_form #new_subgoal_save_btn p {
	font-size:12px;
}

#goal_div #subgoals_div {
	width:100%;
	float:left;
	margin-left: 0px;
	display: none;
}

#goal_div .subgoal_container {
	width: calc(100%);
	float:left;
	margin-left: 0px;
	margin-top: 10px;
}

#goal_div #edition_history_container {
	display:none;
	overflow:auto;
	clear:both;
}

#goal_div #edition_history_container hr {
	margin-top:10px;
	margin-bottom:10px;
}


