#goal_div {
	clear:none;
	overflow: auto;
}

#goal_div #top_div {
	width:100%;
	float:left;
}

#goal_div #center_div {
	width:100%;
	float:left;
	margin-top: 5px;
	margin-bottom: 10px;
}

#goal_div #goal_control_div {
	float:left;
	display: none;
	margin-top: 10px;
	clear: both;
	width: 100%;
}

#goal_div #new_subgoal_form {
	max-width: 300px;
	float:left;
	display: none;
	margin-top: 10px;
	clear: both;
	width: 100%;
}

#goal_div #top_div #goaltag {
	width:100%;
}

#goal_div #top_div #goaltag a {
	margin-left:5px;
	font-weight:bold;
	text-align:left;
	font-size:10px;
	font-style:normal;
	font-size: 12pt;
	display: block;
	float: left;
}

#goal_div #top_div #goaltag label {
	float: right;
	margin-left:5px;
}

#goal_div #center_div #description {
	width:100%;
}

#goal_div #goal_control_div #state {
	height:100%;
	width:100%;	
}

#goal_div #show_subgoals_btn {
	float:left;
	margin-left:10px;
	display:none;
}

#goal_div #new_subgoal_btn {
	float:left;
	margin-left:10px;
	display:none;
}

#goal_div #show_control_btn {
	float:left;
	margin-left:10px;
	display:none;
}

#goal_div #propose_parent_form_container {
	width: 200px;
	margin-right:10px;
	float:left;
	display:none;
	margin-bottom: 10px;
}

#goal_div #propose_parent_decision_container {
	margin-right:10px;
	float:left;
	display:none;
	margin-bottom: 5px;
}

#goal_div #propose_parent_btn {
	width:100%;
	float:left;
}

#goal_div #propose_parent_form {
	display:none;
}

#goal_div #parent_goal_input {
	width:100%;
	float:left;
	margin-top: 3px;
	text-align:center;
}

#goal_div #propose_parent_save_btn {
	width:100%;
	float:left;
	margin-top: 3px;
}

#goal_div #state_decision_div {
	float:left;
}

#goal_div #new_subgoal_form #new_subgoal_tag_input {
	width: 100%;
	margin-bottom: 5px;
}

#goal_div #new_subgoal_form #new_subgoal_description_input {
	width: 100%;
	margin-bottom: 10px;
	resize: vertical;
}

#goal_div #new_subgoal_form #new_subgoal_save_btn {
	width: 100px;
	float: right;
}

#goal_div #new_subgoal_form #new_subgoal_error_div {
	float:left;
	width:100%;
	margin-top:10px;
	display:none;
}

#goal_div #new_subgoal_form #new_subgoal_save_btn p {
	font-size:12px;
}

#goal_div #subgoals_div {
	width:100%;
	float:left;
	margin-left: 0px;
	display: none;
}

#goal_div .subgoal_container {
	width: calc(100%);
	float:left;
	margin-left: 0px;
	margin-top: 10px;
}


