#container #goal_container {
	width: 100%;
	overflow: auto;
	margin-bottom:10px;
}

#container #goal_weights_div {
	width: 100%;
	overflow: auto;
	margin-bottom:10px;
}

#container #goal_weights_div #weights_label {
	margin-bottom: 10px;
	display: block;
}


#container #cbtions_div {
	width: 100%;
	overflow: auto;
}

#container #cbtions_div #cbtions_label {
	margin-bottom: 10px;
	display: block;
}


#container #cbtions_container {
	overflow: auto;
}
