#container #preferred_browser_div {
	text-align: center;
	width: 90%;
	clear: both;
	margin-bottom: 10px;
	margin: 0 auto;
	max-width: 720px;
	margin-top: 10px;
}

#container #presentation_container {
	width:90%;
	max-width: 720px;
	clear: both;
	margin: 0 auto;
	margin-top: 10px;
}

#container #video_container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:0px;
	height:0;
	overflow:hidden;
}

#container #video_iframe {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	max-width:720px;
}

#container #under_presentation {
	text-align: center;
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	overflow: auto;
}

#container .row_container {
	margin-bottom: 40px;
	margin: 0 auto;
	overflow: auto;
	max-width: 670px;
}

#container .row_container #first_box {
	height: 64px;
	width: 152px;
	float:left;
	margin-left: 10px;
	margin-bottom: 5px;
	overflow: auto;
}

#container .row_container #first_box #first_box_text {
	display:block;
	float:left;
	width: 75px;
}


#container .row_container #second_box {
	height: auto;
	max-width: 452px;
	float:left;
	margin-left: 10px;
	margin-bottom: 5px;
	text-align: center;
	padding-top: 6px;
}

#container .row_container #third_box {
	height: 64px;
	max-width: 210px;
	float:left;
	margin-left: 10px;
	text-align: center;
	margin-bottom: 5px;
	padding-top: 5px;
}

#container #link_to_gdoc_container {
	height: 40px;
	width: 40px;
	display: block;
	float: right;
}

#container #link_to_reddit_container {
	width: 120px;
	display: inline-block;
	float: left;
	margin: 0 auto;
	margin-left: 10px;
}

#container #link_to_slack_container {
	width: 125px;
	display: inline-block;
	float: left;
	margin: 0 auto;
	margin-top: 10px;
}

#container #link_to_github_container {
	width: 92px;
	display: inline-block;
	margin: 0 auto;
	margin-top: 8px;
}

#container #link_to_email_container {
	width: 35px;
	display: inline-block;
	margin: 0 auto;
	margin-left: 5px;
}

#container #link_to_twitter_container {
	width: 50px;
	display: inline-block;
	margin: 0 auto;
	margin-left: 3px;
}

#container #under_presentation img {
	height:100%;
	width:100%;
}

