#project_container{
	margin-top:10px;
}

#project_container #project_name {
	text-align: center;
}

#project_container #description_panel {
	margin-top: 20px;
}

#project_container #contributors_panel {
	margin-top: 10px;
}

#project_container #goals_panel .goalBox_div{
	margin-bottom: 10px;
}

#project_container #contributors_chart_container {
	width: 100%;
	max-width: 560px;
	margin: 0 auto;
	margin-top:10px;
	margin-bottom:10px;
}

#project_container #contributors_chart_container #contributors_table {
	width: 100%;
	/* text-align:center; */
}