#user_container {
	width: calc(100%);
	overflow: auto;
	margin-top:10px;
}

#user_container #username_div {
	margin-top: 5px;
	margin-bottom: 0;
	margin-left: 10px;
	margin-right: 0;
	text-align: center;
}

#user_container #username {
	clear:both;
	font-size:35px;
	font-weight: bold;
	font-style:normal;
}

#user_container #user_profile_div #user_profile_container {
	margin-top:10px;
	padding-left:10px;
	padding-right:10px;
	margin-bottom:10px;
}

#user_container #user_profile_div #user_profile_html {
	margin-bottom:10px;
}

#user_container #user_profile_div #edit_profile_form {
	display:none;
}

#user_container #user_profile_div #user_profile_textarea {
	width:100%;
}

#user_container #user_profile_div #edit_profile_btn {
	width:100px;
	display: none;
}

#user_container #user_profile_div #edit_profile_save {
	margin-top:5px;
	width:100px;
	float:right;
}


#user_container #projects_contributed_div {
	margin-top: 20px;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	clear:both;
}

#user_container #assigned_contributions_div {
	margin-top: 20px;
	clear:both;
	overflow: auto;
}

#user_container #assigned_contributions_div .panel-heading {
	cursor: pointer;
}

#user_container #accepted_contributions_div {
	margin-top: 20px;
	clear:both;
	overflow: auto;
}

#user_container #accepted_contributions_div .panel-heading {
	cursor: pointer;
}


#user_container .project_contributed {
	clear:both;
	font-size:16px;
	margin-top:10px;
	margin-left:10px
}

#user_container #accepted_contributions_list {
	clear:both;
	margin-top:10px;
	display:none;
}

#user_container #assigned_contributions_list {
	clear:both;
	margin-top:10px;
	display:none;
}






