<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layouts/main">
<head>
	<title>CollectiveOne - Welcome</title>
	<meta property="og:title" content="CollectiveOne - Welcome" />
	<meta property="og:description" content="CollectiveOne is a method (and a platform) to develop open, decentralized and collaborative projects: projects to which anyone can, potentially, contribute, and which are collectively owned and self-governed by their contributors" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://www.collectiveone.org/" />
	<meta property="og:image" content="http://www.collectiveone.org/images/Logo.png" />
	
	<link rel="stylesheet" type="text/css" th:href="@{/v/home.css}" />
	
	<script th:inline="javascript">
	/*<![CDATA[*/
		$(document).ready(function() {
			setTimeout(function() {
				$("#preferred_browser_div").slideUp();
			}, 3000);
		});
	/*]]>*/
	</script>
</head>
<body>
	<div layout:fragment="content_pane">
		<div id="preferred_browser_div" class="cp_box_gray_slim">
			The preferred browsers for visiting this page are Google
				Chrome or Mozilla Firefox
		</div>

		<div id="presentation_container">
			<div id="video_container">
				<iframe id="video_iframe" src="https://www.youtube.com/embed/qka1zP_GQaI" frameborder="0" allowfullscreen="true"></iframe>
			</div>
		</div>

		<div id="under_presentation">
			<div id="info" class=" col-md-12">
				<h1>Welcome to CollectiveOne (Beta)</h1>
				<p>
				CollectiveOne is a method (and a platform) to develop open, 
				decentralized and collaborative projects: projects to which anyone can, 
				potentially, contribute, and which are collectively owned and self-governed 
				by their contributors.
				</p>
				<p>
				If you are interested setting up a project and testing the method and the tool, please get in contact with us.
				</p>
				<br />
				<div id="principles">
					<h2>Principles</h2>
					<div class="row">
						<div class="principle col-md-4">
							<h3>Open collaboration</h3>
							Like open-source projects, entry barriers are kept low to allow anyone to contribute to a project in similar conditions as those of previous contributors.
						</div>
						<div class="principle col-md-4">
							<h3>Contribution record and value</h3>
							Individual contributions are recognized and valued relative to each other, using a project specific token called <i>participation points</i>.
						</div>
						<div class="principle col-md-4">
							<h3>Liquid ownership</h3>
							The ownership of each project is linked to contributions, and, therefore, to participation points. The more you contribute, the more you own.
						</div>
					</div>
					<div class="row">
						<div class="principle col-md-6">
							<h3>Efficient decentralized decision-making</h3>
							Decisions are taken openly, letting any contributor to take/influence any decision. At the same time, it is not required, nor promoted, that all contributors influence all decisions, and voting weights can be different among contributors.
						</div>
						<div class="principle col-md-6">
							<h3>Transparency and open data</h3>
							Projects data and communication channels are as open as possible, a necessary condition to balance the opportunity to participate. Moreover, transparency in CollectiveOne could reach <i>hardcore</i> levels, since a detailed record of all the contributions and decisions within a project may also become publicly available.
						</div>
					</div>
				</div>
				<br />
				<h2>Roadmap</h2>
					<p>
					This website includes a basic prototype of the platform and is being actively used for the
					development of CollectiveOne itself. Other projects are also starting to use it. If you are interested in
					testing the method and the tool, please get in contact with us.
					</p>
					<p>
					CollectiveOne wants to become, itself, a decentralized project, and be
					developed openly with contributions from new participants. 
					The development pace of CollectiveOne will depend on the amount of contributors. 
					It wants to be a product-driven project. The more contributors, the faster it should go.
					</p>
				<br />
				<br />
				<p>
				<a id="learnmore" href="https://drive.google.com/open?id=1thbrickvboN7umt339GfKDfb3Jk29crhmkS1-swC61ZtwdyNrl3dOsY5A43pohgcBrxPYRKoFYwXSayA">...learn more</a>
				or 
				<a href="/v//slack"> participate!</a>
				</p>
				
								
			</div>
		</div>
	</div>

</body>
</html>