<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layouts/main">
<head>
<title>CollectiveOne - Welcome</title>
	<link rel="stylesheet" type="text/css" th:href="@{/views/home.css}" />
	
	<script th:inline="javascript">
	/*<![CDATA[*/
		$(document).ready(function() {
			setTimeout(function() {
				$("#preferred_browser_div").slideUp();
			}, 3000);
		});
	/*]]>*/
	</script>
</head>
<body>

	<div layout:fragment="content_pane">
		<div id="preferred_browser_div" class="cp_box_gray_slim">
			The preferred browsers for visiting this page are Google
				Chrome or Mozilla Firefox
		</div>

		<div id="presentation_container">
			<div id="video_container">
				<iframe id="video_iframe" src="https://www.youtube.com/embed/qka1zP_GQaI" frameborder="0" allowfullscreen="true"></iframe>
			</div>
		</div>

		<div id="under_presentation">
			<div class="row_container">
				<div id="first_box" class="cp_box_gray_slim">
					<div id="first_box_text">white paper draft</div>
					<a id="link_to_gdoc_container"
						href="https://drive.google.com/file/d/1thbrickvboN7umt339GfKDfb3Jk29crhmkS1-swC61ZtwdyNrl3dOsY5A43pohgcBrxPYRKoFYwXSayA/view?usp=sharing"
						target='_blank'> <img id="logo" src="../images/GDocs.png"></img>
					</a>
				</div>

				<div id="second_box" class="cp_box_gray_slim">
					<a id="link_to_reddit_container"
						href="https://www.reddit.com/r/CollectiveOne/" target='_blank'>
						<img id="logo" src="/images/Reddit.png"></img>
					</a>
					<a id="link_to_slack_container"
						th:href="@{/views/slackPageR}"> <img
						id="logo" src="/images/Slack.png"></img>
					</a>
					<a id="link_to_github_container"
						href="https://github.com/CollectiveOne/CollectiveOneWebapp" target='_blank'>
						<img id="logo" src="/images/Github.png"></img>
					</a>
					
				</div>

				<div id="third_box" class="cp_box_gray_slim">
					<a id="link_to_email_container"
						href="mailto:contact@collectiveone.org">
						<img id="logo" src="/images/Email.png"></img>
					</a>
					<a id="link_to_twitter_container"
						href="https://twitter.com/collectiveonepr" target='_blank'>
						<img id="logo" src="/images/Twitter.png"></img>
					</a>
					
				</div>
			</div>
		</div>
	</div>

</body>
</html>