#project_div {
	width: 250px;
	clear:none;
	margin: 0 auto;
	overflow: auto;
}

#project_div #left_div {
	height: 50px;
	width: 50px;
	float:left;
}

#project_div #right_div {
	height:100%;
	width: calc(100% - 50px - 10px);
	float:left;
	margin-left: 10px;
	line-height: 18px;
	padding-top: 5px;
}



