#decision_small_div {
	width: 215px;
	clear:none;
	border-radius:5px;
	border-style:solid;
	border-width:2px;
	border-color: #cccccc;
	font-size: 10px;
	overflow: auto;
	min-height: 33px;
}

.dangerousDecisions {
	border-color: red !IMPORTANT;
}

#decision_small_div #dec_left_div {
	margin-left:5px;
	width: 98px;
	float:left;
	padding-top: 3px;
	overflow-y: auto;
	line-height: 11px;
	margin-bottom: 2px;
	display: table-cell;
}

#decision_small_div #dec_center_div {
	width: 80px;
	float:left;
	padding-top: 4px;
}

#decision_small_div #dec_right_div {
	height:100%;
	width: 0;
	float:left;
	padding-top: 2px;
	margin-left: 2px;
}

#decision_small_div #dec_more_div {
	width: 18px;
	float:left;
	background-color: #cccccc;
	padding-top: 4px;
	height: 29px;
	text-align:right;
	clear:none;
	display:inline;
	font-size:14px;
	color: white;
	cursor: pointer;
	margin-left: 10px;
}

#decision_small_div #state {
	color:DarkGreen;
	font-size:9px;
}

#decision_small_div .vote_btn {
	width: 38px;
	margin: 0;
}


#decision_small_div #verdict_status {
	font-size: 9px;
	padding-top: 3px;
}

#decision_small_div .yes_verdict {
	color:DarkGreen;
}

#decision_small_div .no_verdict {
	color:DarkRed;
}





