<div id="decision_div">
	<div id="left_div">
		<div id="state"></div>	
		<div id="verdict"></div>
		<div id="verdictTime"></div>
	</div>
	<div id="center_div">
		<div id="center_top_div">
			<div id="description"></div>
		</div>
		<div id="center_bottom_div">
			<div id="clarity"></div>
			<div id="stability"></div>
			<div id="acceptToRejectRatio"></div>
			<div id="votedRatio"></div>
		</div>
	</div>
	<div id="right_div">
		<div id="accept_div">
			<p>Accept</p>
		</div>
		<div id="reject_div">
			<p>Reject</p>
		</div>
	</div>
</div>