#cbtion_div #cbtion_data_div  {
	width: calc(100%);
	clear:both;
	overflow: hidden;
}

#cbtion_div #cbtion_data_div #promotion_div {
	width:25px;
	height: 100px;
	float:left;
	margin-top: 0px;
	text-align: center;
	color:#cccccc;
}

#cbtion_div #cbtion_data_div #promotion_up_div {
	width:100%;
	height: calc(50% - 10px - 15px);
	padding-top:15px;
	cursor: pointer;
}

#cbtion_div #cbtion_data_div #promotion_down_div {
	width:100%;
	height:calc(50% - 10px - 15px);
	padding-top: 2px;
	cursor: pointer;
}

#cbtion_div #cbtion_data_div #promotion_center_div {
	width:100%;
	height:20px;
	font-size:14px;
	color:#545454;
	padding-top: 7px;
}

#cbtion_div #cb_left_with_promotion {
	width: calc(100% - 220px);
	float:left;
	overflow:auto;
	min-width: 328px;
}

#cbtion_div #cbtion_data_div #cb_left_div {
	width: calc(100% - 25px - 220px - 10px);
	float:left;
	margin-top: 0px;
	padding-right: 10px;
	min-width: 285px;
}

#cbtion_div #cbtion_data_div #cb_center_div {
	width:0px;
	height: calc(100% - 20px);
	float:left;
	margin-top: 0px;
}

#cbtion_div #cbtion_data_div #cb_right_div {
	width: 220px;
	float:left;
	margin-top: 0px;
}

#cbtion_div #cbtion_data_div #title_div {
	width: 100%;
	float:left;
	margin-top: 5px;
	clear:both;
	overflow: hidden;
}

#cbtion_div #cbtion_data_div #title_div input {
	height:20px;
	width: 100%;
}

#cbtion_div #cbtion_data_div #title_div a {
	font-size: 12pt;
	cursor:pointer;
	white-space: nowrap;
}

#cbtion_div #cbtion_data_div #description_div {
	min-height: 120px;
	float:left;
	/* margin-top: 5px; */
	clear:both;
	overflow-y: auto;
	width: 100%;
}

#cbtion_div #cbtion_data_div #description_div textarea {
	float:left;
	/* margin-top: 5px; */
	clear:both;
	overflow-y: auto;
	height: calc(100% - 20px);
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

#cbtion_div #cbtion_data_div #description_div p {
	font-size: 10pt;
	font-style: normal;
}

#cbtion_div #left_bottom_div {
	width: calc(100%);
	clear:both;
	float: left;
}

#cbtion_div #left_bottom_div a {display: block;float: left;}

#cbtion_div #left_bottom_div p {
	display: inline;
}

#cbtion_div #product_div {
	float:left;
	width: calc(50%);
	font-size: 12px;
}

#cbtion_div #product_div input {
	float:left;
	width: 100%;
}

#cbtion_div #goal_div {
	float: left;
	width: calc(50% - 10px);
}


#cbtion_div #cbtion_data_div #cb_right_div #cbtion_meta_data_div a {
	cursor:pointer;
	overflow:hidden;
}

#cbtion_div #cbtion_data_div #cb_right_div #cbtion_meta_data_div p {
	font-size: 13px;
	font-style:normal;
	overflow:hidden;
	display:inline;
}

#cbtion_div #cbtion_data_div #creator_div {
	float: left;
}

#cbtion_div #cbtion_data_div #state_div {
	height: 30px;
	float:left;
	clear:both;
	margin-top: 4px;
}

#cbtion_div #cbtion_data_div #status_desc_div {
	float:left;
	clear:both;
	margin-top: 3px;
}

#cbtion_div #cbtion_data_div #edit_div {
	float:left;
	display:block;
	margin-top: 15px;
}

#cbtion_div #cbtion_data_div #edit_cbtion_btn {
	float: left;
	clear:both;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	display: none;
}

#cbtion_div #cbtion_data_div #edit_cbtion_save_btn {
	float: left;
	clear:both;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	display: none;
}

#cbtion_div #cbtion_data_div #cbtion_meta_data_div {
	font-size:12px;
}

#cbtion_div #cbtion_data_div #project_div {
	float:left;
	clear:both;
}


#cbtion_div #cbtion_data_div #show_comments_btn {
	clear: both;
	width: calc(100%);
	margin-top: 5px;
}

#cbtion_div #cbtion_data_div #comments_box_container {
	display:none;
}

#cbtion_div #cbtion_data_div #show_comments_btn p {
	padding-top:3.5px;
}

#cbtion_div #cbtion_data_div #comments_container {
	float: left;
	width: 100%;
	overflow: auto;
	margin-top: 10px;
}

#cbtion_div #cbtion_data_div #bids_container {
	float: left;
	width: 100%;
	overflow: auto;
	margin-top: 10px;
}

#cbtion_div #cbtion_data_div #new_bid_btn {
	clear:both;
	width: calc(100%);
	display: none;
}

#cbtion_div #cbtion_data_div #new_bid_btn p {
	padding-top:3.5px;
}

#cbtion_div #new_bid_form_container {
	display:none;
	width: 360px;
	clear:both;
	margin-bottom: 3px;
	margin-top: 10px;
	overflow: auto;
}

#cbtion_div #new_bid_form_container #new_bid_form {
	width: 100%;
	overflow: auto;
}
 
#cbtion_div #new_bid_form_container #new_bid_form p {
	width:100%;
	text-align:center;
	font-size:14px;
}

#cbtion_div #new_bid_form_container #new_bid_form #newbid_start_state_div {
	width:100%;
	float:left;
	margin-bottom:10px;
}

#cbtion_div #new_bid_form_container #new_bid_form #newbid_just_considering_btn {
	width: calc(50% - 7px);
	margin-right: 10px;
	float:left;
}

#cbtion_div #new_bid_form_container #new_bid_form #newbid_offer_now_btn {
	width: calc(50% - 7px);
	float:left;
}

#cbtion_div #new_bid_form_container #new_bid_form #newbid_username_div {
	width: 100%;
	float:left;
	border-radius:3px;
	clear: both;
	margin-bottom: 10px;
}

#cbtion_div #new_bid_form_container #new_bid_form #newbid_username_div {

}

#cbtion_div #new_bid_form_container #new_bid_form #newbid_ppoints_div {
	width: 60px;
	float:left;
	border-radius:3px;
	clear: both;
	display:none;
}

#cbtion_div #new_bid_form_container #new_bid_form #newbid_description_div {
	width: calc(100% - 60px - 10px);
	float: right;
	margin-bottom: 10px;
}

#cbtion_div #new_bid_form_container #new_bid_form #newbid_ppoints_in {
	text-align:center;
	font-size: 12px;
}

#cbtion_div #new_bid_form_container #new_bid_form #newbid_description_in {
	width: 100%;
}

#cbtion_div #new_bid_form_container #new_bid_form #newbid_delivery_date_div {
	width:100px;
	text-align:center;
	border-radius: 5px;
	float: right;
	clear: both;
	margin-bottom: 10px;
	display:none;
}

#cbtion_div #new_bid_form_container #new_bid_form #newbid_delivery_date_div input {
	width:100px;
	text-align:center;
}


#cbtion_div #new_bid_form_container #new_bid_form #newbid_submit_div {
	width:100px;
	float: right;
	clear: both;
}

#cbtion_div #new_bid_form_container #new_bid_form #newbid_submit_div p {
	padding-top: 6px;
	font-size:12px;
}


#cbtion_div #bids_div {
	width: 100%;
	clear:both;
	margin-top: 10px;
	overflow: auto;
}

#cbtion_div #bids_div .bid_div {
	clear:none;
	float: left;
	margin-bottom: 10px;
	max-width: calc(50%);
	min-width: 274px;
}

#cbtion_div #bids_div .bid_div_spacer {
	clear:none;
	float: left;
	width:10px;
	height: 1px;
}


