#user_container {
	width:calc(100% - 10px);
	overflow: auto;
}

#user_container #username {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 30px;
	margin-right: 0;
	clear:both;
	font-size:22px;
	font-weight: bold;
	font-style:normal;
}

#user_container .projec_contributed {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 30px;
	margin-right: 0;
	clear:both;
	font-size:18px;
	font-weight: bold;
	font-style:normal;
}




