#content_pane #list_of_elements {
	padding-top:8px;
}

#content_pane #list_of_elements .goalbox_div {
	width: calc(100% - 26px);
	float:left;
	margin-bottom:10px;
	margin-right:10px;
	clear: none;
	overflow: auto;
}

