#content_pane #list_of_elements {
	padding-top:8px;
}

#content_pane #list_of_elements .goalbox_div {
	min-width: 245px;
	min-height: 120px;
	float:left;
	margin-bottom:10px;
	margin-right:10px;
	clear: both;
}

