#decision_div {
	width: calc(100% - 30px);
	margin-bottom: 6px;
	overflow: auto;
}

#decision_info_div {
}

#discussion_div {
	display: none;
	margin-top: 10px;
	margin-bottom: 10px;
	overflow: auto;
	float: left;
	width: 100%;
}

#decision_div #arguments_expand_div {
	margin-left:20px;
	width:calc(100% - 40px);
	height: 15px;
	clear: both;
	text-align: center;
	padding-top: 3px;
	margin-top: 10px;
	float: left;
}

#decision_div #arguments_div {
	width:100%;
	display:block;
	clear:both;
}

#decision_div p {
	font-size:14px;	
}

#decision_div #arguments_expand_div p {
	font-size:10px;
	color: #545454;
}

#decision_div #left_div {
	margin-left:5px;
	width: calc(100% - 140px - 50px - 40px);
	float:left;
	padding-right: 10px;
}

#decision_div #center_div {
	width: 50px;
	float: left;
	padding-top: 2px;
}

#decision_div #right_div {
	width: 140px;
	float: left;
	padding-top:2px;
	padding-left: 5px;
}

#decision_div #description {
	width:100%;
	height: 45px;
	overflow-y: auto;
}

#decision_div #description a {
	font-size: 14px;
}

#decision_div #from_to_state {
	height: 13px;
	width:100%;
	margin-top: 2px;
}

#decision_div #from_to_state p {
	font-size: 11px;
}

#decision_div #metrics {
	height: 30px;
	width: 100%;
	margin-top: 2px;
	display: none;
}

#decision_div #metrics .metric_div {
	float:left;
	width: 50%;
}

#decision_div #metrics p {
	font-size: 11px;
	font-family: "Lucida Console";
}



#decision_div #center_div  p {
	font-size:12px;
}

#decision_div #center_div .vote_btn {
	height:20px;
	width:100%;
	background-color: #e6e6e6;
	border-radius:5px;
	margin-top: 6px;
	cursor:pointer;
	text-align:center;
}

#decision_div #center_div .vote_btn p {
	font-size:14px;
}

#decision_div #right_div p {
	font-size: 12px;	
}

#decision_div #right_div #project_div {
	height:15px;
	margin-bottom:3px;
}

#decision_div #right_div #state_div {
	height:15px;
}

#decision_div #right_div #verdictTime_div {
	height:15px;
	display: none;
}

#decision_div #right_div #verdict_div {
	height:15px;
	margin-top: 30px;
	display: none;
}

#decision_div #right_div #state {
	color:DarkRed;
}

#decision_div #right_div #verdict {
	font-weight:bold;
}




#discussion_div .args_container {
	min-height: 80px;
	width: calc(50% - 10px - 6px);
	float: left;
	border-style: solid;
	border-width: 2px;
	border-radius: 5px;
	color: #cccccc;
	margin-left: 8px;
	overflow: auto;
	padding-bottom: 4px;
}

#discussion_div .arg_header_div {
	width: 100%;
	background-color: #e6e6e6;
	overflow: auto;
	height: 20px;
}

#discussion_div .arg_header_div p {
	margin-top:3px;
	margin-left:20px;
	font-size:12px;
	float: left;
}

#discussion_div .arg_header_div .arg_new_btn {
	width: 50px;
	background: #cccccc;
	float: right;
	cursor:pointer;
	-webkit-user-select: none;
	height: 100%;
}

#discussion_div .arg_header_div .arg_new_btn p {
	margin-left:15px;
}

#discussion_div .arg_new_form {
	width:100%;
	float:left;
	overflow: auto;
	margin-bottom: 10px;
	margin-top: 5px;
	display: none;
}

#discussion_div .arg_new_description_ta {
	height: 40px;
	width: calc(100% - 10px);
	resize: vertical;
	border-radius: 5px;
	font-size: 12px;
	margin-left: 5px;
}

#discussion_div .arg_new_save_btn {
	height: 15px;
	width: 50px;
	resize: vertical;
	background-color: #cccccc;
	float: right;
	border-radius: 5px;
	-webkit-user-select: none;
	cursor: pointer;
	margin-top: 3px;
	margin-right: 5px;
}

#discussion_div .arg_new_save_btn p {
	margin-left:13px;
	font-size:12px;	
}

#discussion_div .args_list_div {
	width:100%;
	float:left;
	overflow: auto;
}

#discussion_div .argument_container {
	width:100%;
	float:left;
	overflow: auto;
}



