#review_item_div {
	min-height: 50px;
	max-height: 300px;
	width: calc(100% - 10px - 6px);
	clear:none;
	border-radius:5px;
	border-style:solid;
	border-width:1px;
	border-color: #cccccc;
	margin-left:5px;
	margin-top:5px;
	padding: 3px;
	overflow: auto;
}

#review_item_div p {
	font-size: 12px;
}

#review_item_div #review_left {
	width: calc(100% - 10px);
	float:left;
	margin-bottom: 5px;
}

#review_item_div #review_right {
	width: calc(100% - 10px);
	float:left;
	padding-left: 5px;
	padding-right: 5px;
}

#review_item_div #review_stars_container {
	width: 160px;
	float:left;
}

#review_item_div #creation_info {
	width: calc(100% - 85px);
	float:left;
	overflow: hidden;
	padding-top: 2.5px;
}

#review_item_div #review_right #review_description {
	width:100%;
	min-height: 35px;
}
