#decision_small_div {
	height:30px;
	width:200px;
	clear:none;
	border-radius:5px;
	border-style:solid;
	border-width:2px;
	border-color: #cccccc;
}

#decision_small_div p {
	font-size: 10px;
}


#decision_small_div #dec_left_div {
	margin-left:5px;
	width: 100px;
	float:left;
	padding-top: 4px;
	overflow-y: auto;
}

#decision_small_div #dec_center_div {
	height:100%;
	width:30px;	
	float:left;
}

#decision_small_div #dec_right_div {
	height:100%;
	width: 45px;
	float:left;
	padding-top: 2px;
	margin-left: 6px;
}

#decision_small_div #dec_more_div {
	width: 14px;
	float:left;
	background-color: #cccccc;
	border-radius: 0px;
	padding-top: 5px;
	height: calc(100% - 5px);
}

#decision_small_div #dec_more_div p {
	height:100%;
	width:100%;
	font-size: 16px;
	color: white;
}

#decision_small_div #dec_left_div p {
	font-style:normal;
	text-align:right;
	overflow:hidden;
	clear:none;
	display:inline;
	width: 30px;
}

#decision_small_div #current_state_div {
    height: 11px;
    margin-top: 1px;
}

/* TODO: something is messy here, the ASSIGNED and ACCEPTED words are displaced down */
#decision_small_div #candidate_state_div {
	height: 11px;
	margin-top: 1px;
}

#decision_small_div #state {
	color:DarkGreen;
	font-size:9px;
}

#decision_small_div #dec_center_div  p {
	font-size:10px;
	width:100%;	
	font-style:normal;
	overflow:hidden;
}

#decision_small_div #dec_center_div .vote_div {
	height:12px;
	text-align:center;
	width:100%;
	background-color: #e6e6e6;
	border-radius:5px;
	margin:2px;
	cursor:pointer;
	-webkit-user-select:none;
}

#decision_small_div #verdict_status {
	font-size: 9px;
	padding-top: 3px;
}

#decision_small_div .yes_verdict {
	color:DarkGreen;
}

#decision_small_div .no_verdict {
	color:DarkRed;
}





